AI Resume Tailor v7 — Hybrid (Ollama ensemble + Groq judge_cover + Gemini ATS).json
{
  "name": "AI Resume Tailor v7 — Hybrid (Ollama ensemble + Groq judge/cover + Gemini ATS)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Resume Tailor",
        "formDescription": "Upload your resume and provide the job details. We will extract your information automatically.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Resume File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".tex",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Job Title",
              "placeholder": "e.g. Working Student AI Engineer",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Company Name",
              "placeholder": "e.g. SAP SE",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Description",
              "fieldType": "textarea",
              "placeholder": "Paste the full job description here...",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Email",
              "fieldType": "email",
              "placeholder": "you@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "ATS Threshold",
              "fieldType": "number",
              "placeholder": "75",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "id": "f67df9ff-b04d-4d52-85d9-efc4c5e5d3fa",
      "name": "Step 1: Upload Resume & Job Details",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -11952,
        0
      ],
      "webhookId": "c4c58b49-21fc-4537-a68c-2fda1cf3577c"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst fileData = item['Resume File'];\nconst fileName = fileData?.name || 'resume';\nconst isTex = fileName.toLowerCase().endsWith('.tex');\nconst formEmail = item['Your Email'] || '';\nconst thrRaw = item['ATS Threshold'];\nlet atsThreshold = parseInt(thrRaw, 10);\nif (!Number.isFinite(atsThreshold) || atsThreshold < 0 || atsThreshold > 100) atsThreshold = 75;\n\nreturn [{\n  json: {\n    jobTitle:     item['Target Job Title']    || '',\n    company:      item['Target Company Name'] || '',\n    jd:           item['Job Description']     || '',\n    formEmail,\n    fileName,\n    fileType:     isTex ? 'text/x-tex' : (fileData?.mimeType || 'application/pdf'),\n    isTex,\n    timestamp:    new Date().toISOString(),\n    runId:        Math.random().toString(36).substring(2, 10).toUpperCase(),\n    atsThreshold\n  },\n  binary: $input.first().binary\n}];"
      },
      "id": "da1ff6c7-b16f-4530-9437-6a8bbbdebeca",
      "name": "Initialise + Store File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11728,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function toBase64(str) {\n  const t = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';\n  const bytes = [];\n  for (let i = 0; i < str.length; i++) {\n    const c = str.charCodeAt(i);\n    if (c < 0x80) { bytes.push(c); }\n    else if (c < 0x800) { bytes.push(0xC0|(c>>6), 0x80|(c&63)); }\n    else { bytes.push(0xE0|(c>>12), 0x80|((c>>6)&63), 0x80|(c&63)); }\n  }\n  let r = '';\n  for (let i = 0; i < bytes.length; i += 3) {\n    const b0=bytes[i], b1=bytes[i+1]||0, b2=bytes[i+2]||0;\n    r += t[b0>>2] + t[((b0&3)<<4)|(b1>>4)];\n    r += i+1<bytes.length ? t[((b1&15)<<2)|(b2>>6)] : '=';\n    r += i+2<bytes.length ? t[b2&63] : '=';\n  }\n  return r;\n}\nfunction fromBase64(str) {\n  const t = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';\n  const s = str.replace(/[^A-Za-z0-9+/]/g,'');\n  const bytes = [];\n  for (let i = 0; i < s.length; i += 4) {\n    const b0=t.indexOf(s[i]),b1=t.indexOf(s[i+1]),b2=s[i+2]==='='?0:t.indexOf(s[i+2]),b3=s[i+3]==='='?0:t.indexOf(s[i+3]);\n    bytes.push((b0<<2)|(b1>>4));\n    if (s[i+2]!=='=') bytes.push(((b1&15)<<4)|(b2>>2));\n    if (s[i+3]!=='=') bytes.push(((b2&3)<<6)|b3);\n  }\n  let r='', i=0;\n  while (i<bytes.length) {\n    const b=bytes[i];\n    if (b<0x80) { r+=String.fromCharCode(b); i++; }\n    else if ((b&0xE0)===0xC0) { r+=String.fromCharCode(((b&31)<<6)|(bytes[i+1]&63)); i+=2; }\n    else { r+=String.fromCharCode(((b&15)<<12)|((bytes[i+1]&63)<<6)|(bytes[i+2]&63)); i+=3; }\n  }\n  return r;\n}\nconst binaryData = $input.first().binary || {};\nconst init       = $input.first().json;\n\nconst binaryKey = Object.keys(binaryData).find(k =>\n  k.toLowerCase().includes('resume') ||\n  k.toLowerCase().includes('file') ||\n  k === 'data'\n) || Object.keys(binaryData)[0];\n\nif (!binaryKey || !binaryData[binaryKey]) {\n  throw new Error('No file found. Keys: ' + JSON.stringify(Object.keys(binaryData)));\n}\n\nconst file = binaryData[binaryKey];\nlet base64Data = file.data || '';\nif (base64Data.includes(',')) base64Data = base64Data.split(',')[1];\n\nif (!base64Data || base64Data.length < 10) {\n  throw new Error('File data empty. Check N8N_DEFAULT_BINARY_DATA_MODE=default.');\n}\n\n// For .tex files: decode base64 → UTF-8 string directly\nconst resumeLatexSource = fromBase64(base64Data);\n\nreturn [{\n  json: {\n    ...init,\n    base64Data,\n    mimeType: 'text/x-tex',\n    resumeLatexSource\n  }\n}];"
      },
      "id": "3ef7c061-8678-46da-bcdb-451c7e53c505",
      "name": "Prepare File for Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11504,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._ollamaBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "cc3ac043-39dc-43ca-8fa8-ce84ca5848cd",
      "name": "Ollama: Extract Resume Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -11056,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst init = $('Initialise + Store File').first().json;\nconst resumeLatexSource = $('Prepare File for Extraction').first().json.resumeLatexSource || '';\n\nlet extracted = {};\ntry {\n  let raw = resp.choices?.[0]?.message?.content || '{}';\n  raw = raw.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n  extracted = JSON.parse(raw);\n} catch(e) {\n  extracted = { personal:{}, current_role:{end_date:'Present'}, confidence:{}, missing_fields:[], full_resume_text:'' };\n}\n\nfunction stripLatex(src) {\n  if (!src) return '';\n  let t = src;\n  t = t.replace(/\\\\documentclass[^\\n]*\\n?/g,'');\n  t = t.replace(/\\\\usepackage(\\[[^\\]]*\\])?\\{[^}]*\\}\\s*/g,'');\n  t = t.replace(/\\\\definecolor\\{[^}]*\\}\\{[^}]*\\}\\{[^}]*\\}\\s*/g,'');\n  t = t.replace(/\\\\hypersetup\\{[^}]*\\}\\s*/g,'');\n  t = t.replace(/\\\\titleformat\\{[^}]*\\}\\{[^}]*\\}\\{[^}]*\\}\\{[^}]*\\}\\{[^}]*\\}(\\[[^\\]]*\\])?\\s*/g,'');\n  t = t.replace(/\\\\titlespacing\\{[^}]*\\}\\{[^}]*\\}\\{[^}]*\\}\\{[^}]*\\}\\s*/g,'');\n  t = t.replace(/\\\\setlength\\{[^}]*\\}\\{[^}]*\\}\\s*/g,'');\n  t = t.replace(/\\\\setlist\\[[^\\]]*\\]\\{[^}]*\\}\\s*/g,'');\n  t = t.replace(/\\\\(begin|end)\\{(document|center|itemize|multicols)\\}(\\{[^}]*\\})?/g,'');\n  t = t.replace(/\\\\pagestyle\\{[^}]*\\}/g,'');\n  t = t.replace(/\\\\href\\{[^}]*\\}\\{([^}]*)\\}/g,'$1');\n  t = t.replace(/\\\\section\\*?\\{([^}]*)\\}/g,'\\n== $1 ==\\n');\n  t = t.replace(/\\\\(?:textbf|textit|emph|LARGE|large|small|bfseries)\\{([^}]*)\\}/g,'$1');\n  t = t.replace(/\\\\item\\s*/g,'- ');\n  t = t.replace(/\\\\\\\\/g,'\\n');\n  t = t.replace(/\\\\quad|\\\\cdot|\\\\\\$/g,' ');\n  t = t.replace(/\\{|\\}/g,'');\n  t = t.replace(/\\n{3,}/g,'\\n\\n');\n  return t.trim();\n}\n\nconst extractedText = extracted.full_resume_text || '';\nconst strippedFallback = stripLatex(resumeLatexSource);\nconst resumeText = (extractedText && extractedText.length >= 500) ? extractedText : strippedFallback;\n\nconst p    = extracted.personal      || {};\nconst cr   = extracted.current_role  || {};\nconst conf = extracted.confidence    || {};\nconst missing = extracted.missing_fields || [];\n\nconst lowConf = Object.entries(conf).filter(([,v]) => v === 'LOW' || v === 'MEDIUM').map(([k]) => k);\nconst warningFields = [...new Set([...missing, ...lowConf])];\nconst warningText = warningFields.length > 0\n  ? 'Please check these fields — extracted with lower confidence: ' + warningFields.join(', ') + '.'\n  : 'All fields extracted. Please review and confirm.';\n\nreturn [{\n  json: {\n    ...init,\n    extracted,\n    resumeLatexSource,\n    ex_name:       p.full_name    || '',\n    ex_email:      p.email        || '',\n    ex_phone:      p.phone        || '',\n    ex_location:   p.location     || '',\n    ex_linkedin:   p.linkedin     || '',\n    ex_github:     p.github       || '',\n    ex_cr_company: cr.company     || '',\n    ex_cr_title:   cr.title       || '',\n    ex_cr_start:   cr.start_date  || '',\n    ex_cr_end:     cr.end_date    || 'Present',\n    resumeText,\n    confidence:    conf,\n    missingFields: warningFields,\n    warningFields,\n    warningText\n  }\n}];"
      },
      "id": "b456da7c-1be9-4909-b645-345c1e3bd441",
      "name": "Parse Extracted Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10832,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Parse Extracted Data').first().json;\n\nfunction extractNameFromLatex(src) {\n  if (!src) return '';\n  const patterns = [\n    /\\\\LARGE\\s*\\\\bfseries\\s+([A-Z][A-Za-z .\\-']{1,60}[A-Za-z])/,\n    /\\\\Huge\\s*\\\\bfseries\\s+([A-Z][A-Za-z .\\-']{1,60}[A-Za-z])/,\n    /\\\\LARGE\\s+([A-Z][A-Za-z .\\-']{1,60}[A-Za-z])/,\n    /\\\\Huge\\s+([A-Z][A-Za-z .\\-']{1,60}[A-Za-z])/,\n    /\\{\\s*\\\\(?:LARGE|Huge|huge)\\s*\\\\bfseries\\s+([A-Z][A-Za-z .\\-']{1,60}[A-Za-z])\\s*\\}/,\n    /\\{\\s*\\\\(?:LARGE|Huge|huge)\\s+([A-Z][A-Za-z .\\-']{1,60}[A-Za-z])\\s*\\}/,\n    /\\\\bfseries\\s+([A-Z][A-Za-z]+\\s+[A-Z][A-Za-z]+(?:\\s+[A-Z][A-Za-z]+)?)/,\n    /\\\\name\\s*\\{([^}]+)\\}/,\n    /\\\\begin\\{center\\}[\\s\\S]{0,40}?([A-Z][a-z]+\\s+[A-Z][a-z]+)[\\s\\S]{0,40}?\\\\\\\\/\n  ];\n  for (const re of patterns) {\n    const m = src.match(re);\n    if (m && m[1]) {\n      const n = m[1].trim().replace(/\\\\\\\\$/,'').trim();\n      if (n.length > 2 && /[A-Z]/.test(n)) return n;\n    }\n  }\n  return '';\n}\nfunction nameFromEmail(email) {\n  if (!email) return '';\n  let local = email.split('@')[0];\n  local = local.replace(/\\d+/g,'').replace(/[._\\-]+/g,' ').trim();\n  if (!local) return '';\n  return local.split(/\\s+/).map(w => w ? w.charAt(0).toUpperCase() + w.slice(1) : '').filter(Boolean).join(' ');\n}\n\nlet fullName = (prev.ex_name && prev.ex_name.trim().length > 2) ? prev.ex_name.trim() : '';\nif (!fullName) fullName = extractNameFromLatex(prev.resumeLatexSource || '');\nif (!fullName) fullName = nameFromEmail(prev.formEmail || prev.ex_email || '');\nif (!fullName || fullName.length < 3) fullName = 'Candidate';\n\nconst email          = prev.formEmail || prev.ex_email || '';\nconst phone          = prev.ex_phone      || '';\nconst location       = prev.ex_location   || '';\nconst linkedin       = prev.ex_linkedin   || '';\nconst github         = prev.ex_github     || '';\nconst currentCompany = prev.ex_cr_company || '';\nconst currentTitle   = prev.ex_cr_title   || '';\nconst currentStart   = prev.ex_cr_start   || '';\nconst currentEnd     = prev.ex_cr_end     || 'Present';\nconst currentDateRange = currentStart + ' -- ' + currentEnd;\n\nfunction escHdr(s) {\n  if (!s) return '';\n  return s.replace(/&/g,'\\\\&').replace(/%/g,'\\\\%').replace(/\\$/g,'\\\\$').replace(/#/g,'\\\\#').replace(/_/g,'\\\\_').replace(/\\^/g,'\\\\^{}').replace(/~/g,'\\\\textasciitilde{}');\n}\nfunction escUrlDisp(u) {\n  if (!u) return '';\n  return u.replace(/^https?:\\/\\//, '').replace(/_/g,'\\\\_').replace(/%/g,'\\\\%').replace(/#/g,'\\\\#').replace(/&/g,'\\\\&');\n}\nconst headerParts = ['\\\\href{mailto:'+email+'}{'+escHdr(email)+'}'];\nif (phone)    headerParts.push(escHdr(phone));\nif (location) headerParts.push(escHdr(location));\nif (linkedin) headerParts.push('\\\\href{https://'+linkedin.replace(/^https?:\\/\\//,'')+'}{'+escUrlDisp(linkedin)+'}');\nif (github)   headerParts.push('\\\\href{https://'+github.replace(/^https?:\\/\\//,'')+'}{'+escUrlDisp(github)+'}');\nconst headerContact = headerParts.join(' \\\\quad $\\\\cdot$ \\\\quad ');\nconst safeName = fullName.replace(/&/g,'\\\\&').replace(/%/g,'\\\\%').replace(/#/g,'\\\\#');\n\nlet resumeWithDates = prev.resumeText || '';\nif (prev.ex_cr_end && currentEnd !== prev.ex_cr_end) {\n  resumeWithDates = resumeWithDates.replace(\n    new RegExp(prev.ex_cr_end.replace(/[.*+?^${}()|[\\]\\\\]/g,'\\\\$&'),'g'), currentEnd);\n}\nif (prev.ex_cr_title && currentTitle !== prev.ex_cr_title) {\n  resumeWithDates = resumeWithDates.replace(\n    new RegExp(prev.ex_cr_title.replace(/[.*+?^${}()|[\\]\\\\]/g,'\\\\$&'),'g'), currentTitle);\n}\nif (prev.ex_cr_company && currentCompany !== prev.ex_cr_company) {\n  resumeWithDates = resumeWithDates.replace(\n    new RegExp(prev.ex_cr_company.replace(/[.*+?^${}()|[\\]\\\\]/g,'\\\\$&'),'g'), currentCompany);\n}\n\nreturn [{\n  json: {\n    ...prev,\n    fullName, email, phone, location, linkedin, github,\n    currentCompany, currentTitle, currentStart, currentEnd,\n    currentDateRange, headerContact, safeName,\n    resumeWithDates,\n    warningFields: prev.warningFields || []\n  }\n}];"
      },
      "id": "1abd2f06-c4c4-44eb-bfdc-f29df9b64483",
      "name": "Merge All Confirmed Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10608,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst jd = data.jd || '';\nconst src = data.resumeLatexSource || '';\nfunction extract(name) { const re = new RegExp('\\\\\\\\section\\\\*?\\\\{\\\\s*' + name + '\\\\s*\\\\}([\\\\s\\\\S]*?)(?=\\\\\\\\section\\\\*?\\\\{|\\\\\\\\end\\\\{document\\\\})', 'i'); const m = src.match(re); return m ? m[1].trim() : ''; }\nconst summarySrc = extract('Summary') || '';\nconst body = {\n  model: 'qwen2.5:3b',\n  max_tokens: 350, temperature: 0.2,\n  stream: false,\n  messages: [\n    { role: 'system', content: `Rewrite the resume Summary as plain text (3-4 sentences, 55-85 words) optimized for ATS keyword matching. HARD RULES:\\n1. Use ONLY facts present in SOURCE (degrees, employers, years of experience, tools in SOURCE).\\n2. Weave 4-6 high-value keywords from JD into the prose naturally (technology names, domain terms, responsibilities).\\n3. Lead with role-aligned positioning: years of experience + target role domain.\\n4. Active voice. Third person. No first-person pronouns.\\n5. Banned words: passionate, results-driven, team player, synergy, dynamic, go-getter, leverage, cutting-edge.\\n6. Output plain text only (no LaTeX, no quotes, no labels, no markdown).` },\n    { role: 'user', content: `SOURCE Summary:\\n${summarySrc}\\n\\nRESUME (full context):\\n${src}\\n\\nJD:\\n${jd}\\n\\nTarget role: ${data.jobTitle} at ${data.company}` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "904f3ba3-ab54-459a-a628-bb2e0cbb63f6",
      "name": "Summary: llama-70b [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10384,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ba56cd4f-64f1-4585-be34-18ef8d2a8b02",
      "name": "Summary: llama-70b",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -10160,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "26a9e2fc-01a0-4e8e-8ea8-ae5f89f45433",
      "name": "Summary: gemini-2.0-flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9712,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst jd = data.jd || '';\nconst src = data.resumeLatexSource || '';\n\nfunction extract(name) {\n  const re = new RegExp('\\\\\\\\section\\\\*?\\\\{\\\\s*' + name + '\\\\s*\\\\}([\\\\s\\\\S]*?)(?=\\\\\\\\section\\\\*?\\\\{|\\\\\\\\end\\\\{document\\\\})', 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\n\nconst sourceSection = extract('(?:Professional\\\\s+)?Experience');\n\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 1400,\n  temperature: 0.1,\n  stream: false,\n  messages: [\n    { role: \"system\", content: `You rewrite a resume's Professional Experience section to align with a target JD.\\n\\nSTRICT RULES:\\n1. Keep every role's header line EXACTLY as in SOURCE — \\\\textbf{Title}, \\\\textit{Company}, date ranges, locations. Never change, add, or remove roles/employers/dates.\\n2. For each bullet: keep the underlying FACT from SOURCE (same tool, same action, same scope). Rewrite wording to emphasize JD keywords where truthful.\\n3. Do NOT add new bullets, new tools, new metrics, new achievements.\\n4. Target JD is the position being applied TO — it is NOT past experience.\\n5. Output raw LaTeX only: \\\\textbf, \\\\textit, \\\\begin{itemize}, \\\\item, \\\\hfill. No \\\\documentclass, no prose, no explanation, no markdown fences.\\n6. Preserve the exact structure of SOURCE (role header → itemize → items).` },\n    { role: \"user\", content: `SOURCE (Experience: llama-70b [Builder] section of the resume, copy its structure):\\n${sourceSection || '(section absent in source — return empty)'}\\n\\n=== END SOURCE ===\\n\\nJD (keywords to align with — NOT a description of past work):\\n${jd}\\n\\nTarget role: ${data.jobTitle} at ${data.company}` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "dd35ce73-5ce9-4db9-b210-55707efa0642",
      "name": "Experience: llama-70b [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9488,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "cfd6e1da-ae66-40d5-8e06-e4fd61646bc6",
      "name": "Experience: llama-70b",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9264,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "c7f62e74-7af9-4a6a-a84c-6c3c0da3c415",
      "name": "Experience: gemini-2.0-flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8816,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst jd = data.jd || '';\nconst src = data.resumeLatexSource || '';\n\nfunction extract(name) {\n  const re = new RegExp('\\\\\\\\section\\\\*?\\\\{\\\\s*' + name + '\\\\s*\\\\}([\\\\s\\\\S]*?)(?=\\\\\\\\section\\\\*?\\\\{|\\\\\\\\end\\\\{document\\\\})', 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\n\nconst sourceSection = extract('Skills');\n\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 600,\n  temperature: 0.2,\n  stream: false,\n  messages: [\n    { role: \"system\", content: `You rewrite a resume's Skills section to align with a target JD.\\n\\nSTRICT RULES:\\n1. Output ONLY skills already present in SOURCE.\\n2. Reorder so JD-relevant skills appear first. Group logically (Languages, Frameworks, Tools, Domain).\\n3. Do not add skills not in SOURCE. Do not remove skills from SOURCE.\\n4. Output raw LaTeX only: \\\\begin{itemize}, \\\\item, \\\\textbf. No \\\\documentclass, no prose, no fences.\\n5. Preserve category labels from SOURCE where present.` },\n    { role: \"user\", content: `SOURCE (Skills: llama-70b [Builder] section of the resume, copy its structure):\\n${sourceSection || '(section absent in source — return empty)'}\\n\\n=== END SOURCE ===\\n\\nJD (keywords to align with — NOT a description of past work):\\n${jd}\\n\\nTarget role: ${data.jobTitle} at ${data.company}` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "fafbd2be-f6ef-4a44-aa1b-f0364bbd9523",
      "name": "Skills: llama-70b [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8592,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "cfa37393-ddf2-4b97-9291-278a1bb620c4",
      "name": "Skills: llama-70b",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8368,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "c2434b48-4b50-4dbe-a7e8-2b643962a8c9",
      "name": "Skills: gemini-2.0-flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7920,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst jd = data.jd || '';\nconst src = data.resumeLatexSource || '';\n\nfunction extract(name) {\n  const re = new RegExp('\\\\\\\\section\\\\*?\\\\{\\\\s*' + name + '\\\\s*\\\\}([\\\\s\\\\S]*?)(?=\\\\\\\\section\\\\*?\\\\{|\\\\\\\\end\\\\{document\\\\})', 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\n\nconst sourceSection = extract('Projects');\n\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 900,\n  temperature: 0.2,\n  stream: false,\n  messages: [\n    { role: \"system\", content: `You rewrite a resume's Projects section to align with a target JD.\\n\\nSTRICT RULES:\\n1. Keep every project title EXACTLY as in SOURCE (\\\\textbf{Name}, dataset names, tech stack mentions).\\n2. Keep the same projects — no additions, no removals, no renames.\\n3. Rewrite only the descriptive text to surface JD-aligned keywords where truthful. Do not invent tools, metrics, or outcomes.\\n4. Output raw LaTeX only: \\\\begin{itemize}, \\\\item, \\\\textbf, \\\\textit. No \\\\documentclass, no prose, no fences.\\n5. Preserve the original structure.` },\n    { role: \"user\", content: `SOURCE (Projects: llama-70b [Builder] section of the resume, copy its structure):\\n${sourceSection || '(section absent in source — return empty)'}\\n\\n=== END SOURCE ===\\n\\nJD (keywords to align with — NOT a description of past work):\\n${jd}\\n\\nTarget role: ${data.jobTitle} at ${data.company}` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "73f0358f-042b-434f-985f-3bf989ba9846",
      "name": "Projects: llama-70b [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7696,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "6323e676-b642-4533-b6ef-d2c6a47d25d4",
      "name": "Projects: llama-70b",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7472,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst resumeSrc = data.resumeLatexSource || data.resumeText || '';\n\nconst SYSTEM = `You are writing a cover letter from a candidate to a hiring team. Read as if you are the recruiter — is this candidate excited? Grounded? Did they study the JD?\n\nSTRUCTURE (exactly 4 paragraphs, 280-340 words, NO salutation, NO sign-off):\n\nP1 — Hook: Why this specific company + specific role excites the candidate. Name the company. Name the role. Reference ONE concrete product/team/domain detail from the JD. Show genuine interest, not generic praise.\n\nP2 — Proof: ONE concrete experience from RESUME that directly maps to JD responsibilities. Use the company + timeframe. Quantify ONLY what the RESUME already quantifies.\n\nP3 — Alignment + growth: 3 specific tools or skills from RESUME that match JD. Then state ONE capability the candidate is actively learning or wants to develop in this role — frame as forward-looking ambition tied to the JD.\n\nP4 — Close: Availability, eagerness to contribute, specific call to action (e.g., initial conversation). End with a confident future-oriented line.\n\nTONE: Professional + warm. Show passion through SPECIFICS, not adjectives. Active voice. Recruiter should feel the candidate actually read the JD and is energized — not a templated apology.\n\nHARD BANS:\n- No placeholder text like [Company Name], [Previous Company], [Position].\n- No generic phrases: \"I am excited to\", \"passionate about\", \"leverage\", \"results-driven\", \"team player\".\n- No em-dashes.\n- No salutation (Dear...), no sign-off (Sincerely...).\n- No invented employers, tools, degrees, metrics.`;\n\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 1200,\n  temperature: 0.75,\n  stream: false,\n  messages: [\n    { role: \"system\", content: SYSTEM },\n    { role: \"user\", content: `CANDIDATE NAME: ${data.fullName}\\nCURRENT ROLE: ${data.currentTitle} at ${data.currentCompany}\\nTARGET ROLE: ${data.jobTitle} at ${data.company}\\n\\nRESUME (source of truth — only draw from this):\\n${resumeSrc}\\n\\n=== END RESUME ===\\n\\nJD (extract company details + 3-4 keywords):\\n${data.jd}` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "8d4ce40a-8211-4b44-b267-a73bf447bf4c",
      "name": "Cover Letter: gemini (humanized) [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6800,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "6b2abb5f-b9c6-441b-95b1-e73c34e7ed6c",
      "name": "Cover Letter: gemini (humanized)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6352,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getText(r) {\n  try {\n    if (r.choices)    return r.choices[0].message.content || '';\n    if (r.candidates) return r.candidates[0].content.parts[0].text || '';\n    return '';\n  } catch(e) { return ''; }\n}\n\nfunction clean(t) { \n  return t.replace(/^```latex\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim(); \n}\n\nfunction safeGet(nodeName) {\n  try { \n    const raw = $(nodeName).first().json;\n    const text = getText(raw);\n    const cleaned = clean(text);\n    // Return raw text if clean() removes too much\n    return (cleaned && cleaned.length > 10) ? cleaned : text;\n  } catch(e) { return ''; }\n}\n\nconst base = $('Merge All Confirmed Data').first().json;\n\nconst candidates = {\n  summary:    [ safeGet('Summary: llama-70b'),    safeGet('Summary: gemini-2.0-flash')    ],\n  experience: [ safeGet('Experience: llama-70b'), safeGet('Experience: gemini-2.0-flash') ],\n  skills:     [ safeGet('Skills: llama-70b'),     safeGet('Skills: gemini-2.0-flash')     ],\n  projects:   [ safeGet('Projects: llama-70b'),   safeGet('Projects: gemini-2.0-flash')   ],\n};\n\n// Soft validation — use first non-empty candidate, never throw\nfor (const [section, cands] of Object.entries(candidates)) {\n  const valid = cands.filter(c => c && c.trim().length > 10);\n  if (valid.length === 0) {\n    // Use whatever we got, even if short\n    const any = cands.find(c => c && c.trim().length > 0);\n    if (any) {\n      candidates[section] = [any, any];\n    }\n    // If truly empty, let Judge handle it\n  }\n}\n\nreturn [{ json: { ...base, candidates } }];"
      },
      "id": "b87fcf3a-5abe-46a1-ae24-e3cc0d19bc5a",
      "name": "Collect All Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6128,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 3000,\n  temperature: 0.1,\n  messages: [\n    { role: \"system\", content: `You are a judge synthesising the best resume from 4 model candidates. Accuracy is primary.\n\nFor each bullet: present in original resume? If yes use best phrasing. If added by model - exclude.\n\nFACTUAL LOCKS: Most recent role: ${data.currentCompany} | ${data.currentTitle} | ${data.currentDateRange}\n\nOUTPUT - exactly these XML tags only:\n<SUMMARY>plain text</SUMMARY>\n<EXPERIENCE>raw LaTeX</EXPERIENCE>\n<SKILLS>raw LaTeX</SKILLS>\n<PROJECTS>raw LaTeX</PROJECTS>` },\n    { role: \"user\",   content: `JOB: ${data.jobTitle} at ${data.company}\nJD: ${data.jd}\n\nORIGINAL RESUME:\n${data.resumeWithDates}\n\n=== SUMMARY ===\n[A] ${data.candidates.summary[0]}\n[B] ${data.candidates.summary[1]}\n\n\n\n=== EXPERIENCE ===\n[A] ${data.candidates.experience[0]}\n[B] ${data.candidates.experience[1]}\n\n\n\n=== SKILLS ===\n[A] ${data.candidates.skills[0]}\n[B] ${data.candidates.skills[1]}\n\n\n\n=== PROJECTS ===\n[A] ${data.candidates.projects[0]}\n[B] ${data.candidates.projects[1]}\n\n` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "20ad8dd5-3ded-4310-a3f9-592ddf73b071",
      "name": "Judge: Synthesise Best Sections [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5904,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "d19ce72f-9c8b-48a2-b63d-de10c46f9ff7",
      "name": "Judge: Synthesise Best Sections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5456,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function fix(t) {\n  if (!t) return t;\n  return t.replace(/(?<!\\\\)&(?![a-zA-Z])/g,'\\\\&')\n    .replace(/([^\\\\])%(?![\\s]*$)/gm,'$1\\\\%')\n    .replace(/(?<!\\\\)#(?![a-fA-F0-9]{6}\\b)/g,'\\\\#')\n    .replace(/[\\u2018\\u2019]/g,\"'\")\n    .replace(/[\\u201C\\u201D]/g,'\"')\n    .replace(/\\u2014/g,'---').replace(/\\u2013/g,'--')\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g,'');\n}\nfunction ext(tag, text) {\n  const m = text.match(new RegExp('<'+tag+'>[\\\\s\\\\S]*?</'+tag+'>'));\n  if (!m) return null;\n  return m[0].replace(new RegExp('<'+tag+'>'),'').replace(new RegExp('</'+tag+'>'),'')\n    .replace(/^```latex\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n}\nconst raw  = $input.first().json?.choices?.[0]?.message?.content || '';\nconst data = $('Collect All Candidates').first().json;\nconst sections = {\n  summary:    ext('SUMMARY', raw),\n  experience: fix(ext('EXPERIENCE', raw)),\n  skills:     fix(ext('SKILLS', raw)),\n  projects:   fix(ext('PROJECTS', raw))\n};\nfor (const [k, v] of Object.entries(sections)) {\n  if (!v || v.trim().length < 20) {\n    const fb = data.candidates[k]?.[0] || '';\n    sections[k] = ['experience','skills','projects'].includes(k) ? fix(fb) : fb;\n  }\n}\nreturn [{ json: { ...data, sections } }];"
      },
      "id": "560ca3fb-b590-468e-afc1-481911287f26",
      "name": "Parse Judge Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5232,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const verifyResp = $input.first().json;\nconst judgeData  = $('Parse Judge Output').first().json;\nlet audit = {};\ntry {\n  let raw = verifyResp.choices?.[0]?.message?.content || verifyResp.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n  raw = raw.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n  audit = JSON.parse(raw);\n} catch(e) {\n  audit = { total_violations: 0, verdict: 'CLEAN', experience_violations: [], project_violations: [], summary_violations: [] };\n}\nconst sections = { ...judgeData.sections };\nconst revertedBullets = [];\nfor (const v of (audit.experience_violations || [])) {\n  if (v.original_bullet && v.original_bullet !== 'null') {\n    const esc = v.synthesised_bullet.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    const nb  = v.original_bullet.replace(/&/g,'\\\\&').replace(/%/g,'\\\\%');\n    sections.experience = sections.experience.replace(new RegExp(esc,'g'), nb);\n    revertedBullets.push({ section:'experience', type:v.violation_type, reverted:v.synthesised_bullet.substring(0,80) });\n  }\n}\nfor (const v of (audit.project_violations || [])) {\n  if (v.original_text && v.original_text !== 'null') {\n    const esc = v.synthesised_bullet.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    const nb  = v.original_text.replace(/&/g,'\\\\&').replace(/%/g,'\\\\%');\n    sections.projects = sections.projects.replace(new RegExp(esc,'g'), nb);\n    revertedBullets.push({ section:'projects', type:v.violation_type, reverted:v.synthesised_bullet.substring(0,80) });\n  }\n}\nconst auditHTML = audit.verdict === 'CLEAN'\n  ? \"<div style='background:#d4edda;border:1px solid #28a745;padding:10px;border-radius:6px;margin:8px 0'><strong>Ground truth check passed</strong> — no hallucinated content detected.</div>\"\n  : \"<div style='background:#fff3cd;border:1px solid #ffc107;padding:10px;border-radius:6px;margin:8px 0'><strong>\" + audit.total_violations + \" accuracy issue(s) auto-corrected</strong><br/><ul>\" + revertedBullets.map(r=>'<li>['+r.section+'/'+r.type+'] '+r.reverted+'</li>').join('') + \"</ul></div>\";\nreturn [{ json: { ...judgeData, sections, audit, auditHTML, revertedBullets } }];"
      },
      "id": "f202bd7c-9e10-46ba-a2c9-e1e612fa2fb2",
      "name": "Apply Ground Truth Corrections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4336,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst base = $('Merge All Confirmed Data').first().json;\nfunction validate(name, content, rules) {\n  const errors=[], warnings=[];\n  if (!content || content.trim().length===0) { errors.push(name+': empty'); return {isValid:false,errors,warnings}; }\n  const ph = content.match(/WRITE_[A-Z_]+|\\[BULLET[^\\]]*\\]|\\[ITEMS[^\\]]*\\]/g);\n  if (ph) errors.push(name+': unfilled placeholders');\n  if (rules.forbidDoc) {\n    if (content.includes('\\\\documentclass')) errors.push(name+': has documentclass');\n    if (content.includes('\\\\begin{document}')) errors.push(name+': has begin document');\n  }\n  if (rules.itemize) {\n    const b=(content.match(/\\\\begin\\{itemize\\}/g)||[]).length;\n    const e=(content.match(/\\\\end\\{itemize\\}/g)||[]).length;\n    if (b===0) errors.push(name+': no itemize');\n    if (b!==e) errors.push(name+': unbalanced itemize ('+b+'/'+e+')');\n  }\n  if (rules.multicols) {\n    const b=(content.match(/\\\\begin\\{multicols\\}/g)||[]).length;\n    const e=(content.match(/\\\\end\\{multicols\\}/g)||[]).length;\n    if (b<2) errors.push(name+': need 2 multicols, found '+b);\n    if (b!==e) errors.push(name+': unbalanced multicols');\n  }\n  if (rules.locks) for (const l of rules.locks) if (!content.includes(l)) warnings.push(name+': lock missing: '+l);\n  const wc = content.split(/\\s+/).length;\n  if (rules.min && wc<rules.min) errors.push(name+': too short ('+wc+')');\n  if (rules.max && wc>rules.max) warnings.push(name+': long ('+wc+')');\n  if (rules.plainText && (content.includes('\\\\begin')||content.includes('\\\\item'))) errors.push(name+': contains LaTeX');\n  return { isValid: errors.length===0, errors, warnings };\n}\nconst V = {\n  summary:    validate('Summary',    data.sections.summary,    {min:20, max:90, plainText:true}),\n  experience: validate('Experience', data.sections.experience, {itemize:true, forbidDoc:true, locks:[base.currentCompany, base.currentDateRange]}),\n  skills:     validate('Skills',     data.sections.skills,     {itemize:true, forbidDoc:true}),\n  projects:   validate('Projects',   data.sections.projects,   {itemize:true, forbidDoc:true})\n};\nconst allErrors      = Object.values(V).flatMap(v=>v.errors);\nconst allWarnings    = Object.values(V).flatMap(v=>v.warnings);\nconst failedSections = Object.entries(V).filter(([,v])=>!v.isValid).map(([k])=>k);\nreturn [{ json: { ...data, validations:V, allErrors, allWarnings, failedSections, allValid:failedSections.length===0 } }];"
      },
      "id": "7bdc8b1d-de62-4e37-a69e-a08e69a76af3",
      "name": "Validate All Sections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4112,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.allValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad1a7fb3-2a69-4393-a58b-1302e44590a8",
      "name": "All Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3888,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 3000,\n  temperature: 0.1,\n  messages: [\n    { role: \"system\", content: `Fix ONLY failed resume sections. Return XML tags only:\n<SUMMARY>...</SUMMARY>\n<EXPERIENCE>...</EXPERIENCE>\n<SKILLS>...</SKILLS>\n<PROJECTS>...</PROJECTS>` },\n    { role: \"user\",   content: `FAILED: ${data.failedSections.join(', ')}\nERRORS: ${data.allErrors.join('\\\\n')}\n[summary] ${data.sections.summary}\n[experience] ${data.sections.experience}\n[skills] ${data.sections.skills}\n[projects] ${data.sections.projects}` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "4eba8085-53c0-4319-a9a9-1a4fa745f66c",
      "name": "Repair Failed Sections [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3664,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "752d17a4-1aea-4a90-86ac-39444e7f2fc8",
      "name": "Repair Failed Sections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3216,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw  = $input.first().json?.choices?.[0]?.message?.content || '';\nconst data = $('Validate All Sections').first().json;\nconst base = $('Merge All Confirmed Data').first().json;\nfunction ext(tag, text) { const m = text.match(new RegExp('<'+tag+'>[\\\\s\\\\S]*?</'+tag+'>')); return m ? m[0].replace(new RegExp('<'+tag+'>'),'').replace(new RegExp('</'+tag+'>'),'').trim() : null; }\nfunction extractSection(src, name) {\n  if (!src) return '';\n  const re = new RegExp('\\\\\\\\section\\\\*?\\\\{\\\\s*' + name + '\\\\s*\\\\}([\\\\s\\\\S]*?)(?=\\\\\\\\section\\\\*?\\\\{|\\\\\\\\end\\\\{document\\\\})', 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\nfunction isGarbage(txt, needsItemize) {\n  if (!txt || txt.trim().length < 15) return true;\n  if (/^\\s*(FAILED|ERRORs?|\\[summary\\]|\\[experience\\]|\\[skills\\]|\\[projects\\])/i.test(txt)) return true;\n  if (/FAILED:\\s*(summary|experience|skills|projects)/i.test(txt)) return true;\n  if (needsItemize && !/\\\\begin\\{itemize\\}/.test(txt) && !/\\\\item/.test(txt)) return true;\n  return false;\n}\n\nconst sectionSourceMap = {\n  summary:    extractSection(base.resumeLatexSource || '', 'Summary'),\n  experience: extractSection(base.resumeLatexSource || '', '(?:Professional\\\\s+)?Experience'),\n  skills:     extractSection(base.resumeLatexSource || '', 'Skills'),\n  projects:   extractSection(base.resumeLatexSource || '', 'Projects')\n};\nconst needsItemize = { summary:false, experience:true, skills:true, projects:true };\n\nconst sections = { ...data.sections };\nconst tags = { summary:'SUMMARY', experience:'EXPERIENCE', skills:'SKILLS', projects:'PROJECTS' };\nconst fixed = [];\nconst fellBack = [];\n\nfor (const name of data.failedSections) {\n  const repairText = ext(tags[name], raw);\n  if (repairText && !isGarbage(repairText, needsItemize[name])) {\n    sections[name] = repairText;\n    fixed.push(name);\n  } else if (sectionSourceMap[name]) {\n    sections[name] = sectionSourceMap[name];\n    fellBack.push(name);\n  }\n  // also scrub if current section still has FAILED/ERRORs diagnostic inside\n  if (/(^|\\n)\\s*(FAILED|ERRORs?):/i.test(sections[name] || '')) {\n    sections[name] = sectionSourceMap[name] || sections[name].replace(/(^|\\n)\\s*(FAILED|ERRORs?):[^\\n]*/gi,'').trim();\n    if (!fellBack.includes(name)) fellBack.push(name);\n  }\n}\n\nreturn [{ json: { ...data, sections, repairedSections: fixed, sourceFallbackSections: fellBack, wasRepaired: fixed.length + fellBack.length > 0 } }];"
      },
      "id": "0204f784-37b0-4c37-ae6c-223e727a5f07",
      "name": "Merge Repairs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2992,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst base = $('Merge All Confirmed Data').first().json;\nconst s = data.sections || {};\n\nfunction isGarbage(txt) {\n  if (!txt) return true;\n  const t = txt.trim();\n  if (t.length < 15) return true;\n  if (/^(FAILED|ERRORs?):/i.test(t)) return true;\n  if (/FAILED:\\s*(summary|experience|skills|projects)/i.test(t)) return true;\n  if (/\\[summary\\]|\\[experience\\]|\\[skills\\]|\\[projects\\]/.test(t)) return true;\n  if (/\\[Builder\\]/.test(t)) return true;\n  if (/\\bllama[\\-\\s]?\\d|gemini[\\-\\s]?2\\.0|qwen\\d/i.test(t)) return true;\n  return false;\n}\n\nfunction stripDiagnostics(txt) {\n  if (!txt) return '';\n  return txt.replace(/^(FAILED|ERRORs?):[^\\n]*\\n?/gim,'').replace(/^\\s*\\[(summary|experience|skills|projects)\\][^\\n]*\\n?/gim,'').replace(/\\\\n/g,'\\n').trim();\n}\n\nfunction sanitise(text) {\n  if (!text) return '';\n  text = stripDiagnostics(text);\n  text = text.replace(/\\\\documentclass[^\\n]*/g,'').replace(/\\\\usepackage[^\\n]*/g,'').replace(/\\\\begin\\{document\\}/g,'').replace(/\\\\end\\{document\\}/g,'').replace(/\\\\pagestyle[^\\n]*/g,'').replace(/\\\\thispagestyle[^\\n]*/g,'').replace(/\\\\maketitle/g,'').replace(/\\\\(?:sub)*section\\*?\\{[^}]*\\}/g,'').replace(/<[^>]{1,80}>/g,'');\n  text = text.replace(/^#{1,6}\\s+/gm,'').replace(/\\*\\*([^*\\n]+)\\*\\*/g,'\\\\textbf{$1}').replace(/\\n{3,}/g,'\\n\\n');\n  return text.trim();\n}\n\nfunction stripTabular(text) {\n  if (!text) return text;\n  return text.replace(/\\\\begin\\{tabular\\}(\\{[^}]*\\})?[\\s\\S]*?\\\\end\\{tabular\\}/g,'');\n}\n\nfunction extractSection(src, name) {\n  if (!src) return '';\n  const re = new RegExp('\\\\\\\\section\\\\*?\\\\{\\\\s*' + name + '\\\\s*\\\\}([\\\\s\\\\S]*?)(?=\\\\\\\\section\\\\*?\\\\{|\\\\\\\\end\\\\{document\\\\})', 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\n\n// Keep only profile-only github.com/<user>/ (no repo) as plain text.\n// Preserve github.com/<user>/<repo> as clickable \\\\href.\nfunction stripProfileHrefsOnly(t) {\n  if (!t) return t;\n  // Match github.com/user (no second slash with non-trivial path)\n  t = t.replace(/\\\\href\\{(https?:\\/\\/)?(www\\.)?github\\.com\\/([^\\/\\}\\s]+)\\/?\\}\\{([^}]*)\\}/gi, '$4');\n  // linkedin.com/in/<user> only\n  t = t.replace(/\\\\href\\{(https?:\\/\\/)?(www\\.)?linkedin\\.com\\/in\\/([^\\/\\}\\s]+)\\/?\\}\\{([^}]*)\\}/gi, '$4');\n  return t;\n}\n\nfunction hasBalancedBraces(text) {\n  if (!text) return true;\n  let depth = 0;\n  for (let i = 0; i < text.length; i++) {\n    const ch = text[i];\n    if (ch === '\\\\') { i++; continue; }\n    if (ch === '{') depth++;\n    if (ch === '}') {\n      depth--;\n      if (depth < 0) return false;\n    }\n  }\n  return depth === 0;\n}\n\nfunction hasUnescapedLatexSpecials(text) {\n  if (!text) return false;\n  return /(^|[^\\\\])[#%&_$]/.test(text);\n}\n\nfunction hasDangerousLatexConstructs(text) {\n  if (!text) return false;\n  return /\\\\documentclass|\\\\usepackage|\\\\begin\\{document\\}|\\\\end\\{document\\}|\\\\begin\\{tabular\\}|\\\\end\\{tabular\\}/i.test(text);\n}\n\nfunction balanceItemizeBlocks(text) {\n  if (!text) return '';\n  let out = text;\n  const openRegex = /begin\\{itemize\\}|resumeItemListStart|resumeSubHeadingListStart/g;\n  const closeRegex = /end\\{itemize\\}|resumeItemListEnd|resumeSubHeadingListEnd/g;\n  const openCount = (out.match(openRegex) || []).length;\n  const closeCount = (out.match(closeRegex) || []).length;\n  if (closeCount > openCount) {\n    let extra = closeCount - openCount;\n    out = out.replace(closeRegex, (m) => {\n      if (extra > 0) { extra--; return ''; }\n      return m;\n    });\n  }\n  const opens = (out.match(openRegex) || []).length;\n  const closes = (out.match(closeRegex) || []).length;\n  if (opens > closes) {\n    out += '\\n' + '\\\\end{itemize}\\n'.repeat(opens - closes);\n  }\n  return out;\n}\n\n\n// Split on existing hrefs; auto-wrap plain github.com/user/repo as \\href\nfunction linkReposInText(text) {\n  if (!text) return text;\n  return text.replace(\n    /github\\.com\\/([a-zA-Z0-9_-]+)\\/([a-zA-Z0-9_.\\-][a-zA-Z0-9_.\\-]*)/g,\n    function(m) { return '\\\\href{https://' + m + '}{' + m + '}'; }\n  );\n}\nfunction autoLinkRepos(t) {\n  if (!t) return t;\n  const out = [];\n  const hrefRe = /\\\\href\\{[^}]*\\}\\{[^}]*\\}/g;\n  let last = 0, m;\n  while ((m = hrefRe.exec(t)) !== null) {\n    out.push(linkReposInText(t.slice(last, m.index)));\n    out.push(m[0]);\n    last = hrefRe.lastIndex;\n  }\n  out.push(linkReposInText(t.slice(last)));\n  return out.join('');\n}\n\n// Parse bullets from a section body. Returns array {before, bullets, after} where\n// 'before' = header/structure before first \\\\item, 'bullets' = array of bullet text,\n// 'after' = any trailing structure. Keeps \\\\href, \\\\textbf intact in bullet text.\nfunction parseBullets(body) {\n  if (!body) return { before:'', bullets:[], after:'' };\n  const itemIdx = body.indexOf('\\\\item');\n  if (itemIdx === -1) return { before: body, bullets: [], after: '' };\n  const before = body.slice(0, itemIdx);\n  const rest = body.slice(itemIdx);\n  const endIdx = rest.lastIndexOf('\\\\end{itemize}');\n  const inner = endIdx === -1 ? rest : rest.slice(0, endIdx);\n  const after = endIdx === -1 ? '' : rest.slice(endIdx);\n  const bullets = [];\n  const re = /\\\\item\\s+([\\s\\S]*?)(?=\\n\\s*\\\\item|\\s*$)/g;\n  let m;\n  while ((m = re.exec(inner)) !== null) {\n    const t = m[1].trim();\n    if (t) bullets.push(t);\n  }\n  return { before, bullets, after };\n}\n\n// Extract plain text of a model-optimized bullet from a line that might have \\\\item prefix.\nfunction cleanBullet(line) {\n  return line.replace(/^\\s*\\\\item\\s*/,'').replace(/\\\\\\\\\\s*$/,'').trim();\n}\n\n// Merge model bullets into source structure. If model bullet count differs from source,\n// use min(len); fill remaining with source originals. If model empty, use source.\nfunction mergeBullets(sourceBody, modelBody) {\n  const src = parseBullets(sourceBody);\n  if (!src.bullets.length) return sourceBody;\n  const mdl = parseBullets(modelBody);\n  if (!mdl.bullets.length) return sourceBody;\n  const merged = src.bullets.map((orig, i) => {\n    const optRaw = mdl.bullets[i];\n    if (!optRaw || optRaw.length < 10) return orig;\n    const opt = cleanBullet(optRaw);\n    // Reject optimized bullet if it mentions banned hallucinated markers\n    if (/\\[[^\\]]{2,40}\\]|FAILED:|ERRORs?:/i.test(opt)) return orig;\n    // Reject if model name leaked into bullet (judge prompt contamination)\n    if (/\\bllama[\\-\\s]?\\d|gemini[\\-\\s]?2|qwen\\d|gpt-4|\\[Builder\\]/i.test(opt)) return orig;\n    // Never overwrite source bullet that contains a clickable href — keep link intact\n    if (/\\\\href\\{/.test(orig)) return orig;\n    // Guard against compile breakers in model output\n    if (!hasBalancedBraces(opt)) return orig;\n    if (hasUnescapedLatexSpecials(opt)) return orig;\n    if (hasDangerousLatexConstructs(opt)) return orig;\n    return opt;\n  });\n  return src.before + merged.map(b => '\\\\item ' + b).join('\\n') + '\\n' + (src.after || '\\\\end{itemize}');\n}\n\n// Apply per-role-block merging. Source may have multiple \\\\begin{itemize}...\\\\end{itemize}\n// blocks (one per role). Handle each independently.\nfunction mergeSection(sourceBody, modelBody) {\n  if (!sourceBody) return modelBody || '';\n  if (!modelBody || isGarbage(modelBody)) return sourceBody;\n  // Split source by itemize envs\n  const blocks = [];\n  const re = /([\\s\\S]*?)(\\\\begin\\{itemize\\}[\\s\\S]*?\\\\end\\{itemize\\})/g;\n  let m;\n  let lastIdx = 0;\n  while ((m = re.exec(sourceBody)) !== null) {\n    blocks.push({ header: m[1], itemize: m[2] });\n    lastIdx = re.lastIndex;\n  }\n  const trailing = sourceBody.slice(lastIdx);\n  if (!blocks.length) return sourceBody; // no itemize blocks; keep source\n  // Split model similarly\n  const mBlocks = [];\n  const re2 = /([\\s\\S]*?)(\\\\begin\\{itemize\\}[\\s\\S]*?\\\\end\\{itemize\\})/g;\n  let mm;\n  while ((mm = re2.exec(modelBody)) !== null) mBlocks.push({ header: mm[1], itemize: mm[2] });\n  // Merge: for each source block, take matching model block's bullets by position\n  let out = '';\n  for (let i = 0; i < blocks.length; i++) {\n    out += blocks[i].header;\n    const srcItemize = blocks[i].itemize;\n    const mdlItemize = mBlocks[i] ? mBlocks[i].itemize : '';\n    out += mergeBullets(srcItemize, mdlItemize);\n    out += '\\n';\n  }\n  out += trailing;\n  return out;\n}\n\nconst src = base.resumeLatexSource || '';\nconst educationSrc  = extractSection(src, 'Education');\nconst experienceSrc = extractSection(src, '(?:Professional\\\\s+)?Experience');\nconst projectsSrc   = extractSection(src, 'Projects');\nconst skillsSrc     = extractSection(src, 'Skills');\nconst summarySrc    = extractSection(src, 'Summary');\n\n// Bullet-level merge: source structure (headers, hrefs, itemize) stays; model text replaces bullets where valid.\nconst experienceBody = balanceItemizeBlocks(mergeSection(experienceSrc, stripTabular(s.experience || '')));\nconst projectsBody   = balanceItemizeBlocks(autoLinkRepos(stripProfileHrefsOnly(projectsSrc || '% Projects missing')));\n\n// Skills: source verbatim — model reordering unreliable\nlet skillsBody = balanceItemizeBlocks(skillsSrc || '% Skills missing');\n\n// Summary: model text optimized with JD keywords (plain text).\nfunction escapeLaTeX(t) {\n  if (!t) return t;\n  return t\n    .replace(/\\\\/g,'\\\\textbackslash{}')\n    .replace(/&/g,'\\\\&')\n    .replace(/%/g,'\\\\%')\n    .replace(/\\$/g,'\\\\$')\n    .replace(/#/g,'\\\\#')\n    .replace(/_/g,'\\\\_')\n    .replace(/\\^/g,'\\\\^{}')\n    .replace(/~/g,'\\\\textasciitilde{}')\n    .replace(/\\{/g,'\\\\{')\n    .replace(/\\}/g,'\\\\}');\n}\nlet summaryBody = '';\nif (!isGarbage(s.summary)) summaryBody = escapeLaTeX(sanitise(s.summary).replace(/\\\\begin\\{itemize\\}[\\s\\S]*?\\\\end\\{itemize\\}/g,'').replace(/\\\\item\\s+/g,'').trim());\nif (!summaryBody || summaryBody.length < 20) summaryBody = summarySrc || escapeLaTeX('Experienced professional targeting ' + (base.jobTitle || 'this role') + '.');\n\nconst educationBody = balanceItemizeBlocks(educationSrc || sanitise(s.education) || '% Education missing');\n\nconst latex = `\\\\documentclass[10pt, a4paper]{article}\n\\\\usepackage[T1]{fontenc}\n\\\\usepackage[utf8]{inputenc}\n\\\\usepackage{lmodern}\n\\\\usepackage[margin=1.2cm, top=0.8cm, bottom=0.8cm]{geometry}\n\\\\usepackage{hyperref}\n\\\\usepackage{xcolor}\n\\\\usepackage{enumitem}\n\\\\usepackage{parskip}\n\\\\usepackage{titlesec}\n\\\\definecolor{accentblue}{HTML}{2B5EAB}\n\\\\hypersetup{colorlinks=true,urlcolor=accentblue,linkcolor=accentblue}\n\\\\titleformat{\\\\section}{\\\\normalsize\\\\bfseries\\\\color{accentblue}}{}{0em}{}[\\\\color{accentblue}\\\\titlerule]\n\\\\titlespacing{\\\\section}{0pt}{3pt}{1pt}\n\\\\setlength{\\\\parindent}{0pt}\n\\\\setlength{\\\\parskip}{0pt}\n\\\\setlist[itemize]{leftmargin=1em,itemsep=0pt,parsep=0pt,topsep=0pt,label=\\\\textbullet}\n\\\\newcommand{\\\\resumeItem}[1]{\\\\item #1}\n\\\\newcommand{\\\\resumeItemListStart}{\\\\begin{itemize}[leftmargin=1.2em,itemsep=0pt,parsep=0pt,topsep=1pt]}\n\\\\newcommand{\\\\resumeItemListEnd}{\\\\end{itemize}}\n\\\\newcommand{\\\\resumeSubHeadingListStart}{\\\\begin{itemize}[leftmargin=0pt,label={},itemsep=0pt,parsep=0pt,topsep=0pt]}\n\\\\newcommand{\\\\resumeSubHeadingListEnd}{\\\\end{itemize}}\n\\\\newcommand{\\\\resumeSubheading}[4]{\\\\item\\\\textbf{#1}\\\\hfill #2\\\\\\\\ \\\\emph{#3}\\\\hfill #4}\n\\\\newcommand{\\\\resumeProjectHeading}[2]{\\\\item\\\\textbf{#1}\\\\hfill #2}\n\\\\begin{document}\n\\\\pagestyle{empty}\n\\\\begin{center}\n{\\\\LARGE\\\\bfseries ${base.safeName}}\\\\\\\\[2pt]\n{\\\\footnotesize ${base.headerContact}}\n\\\\end{center}\n\\\\section{Summary}\n${summaryBody}\n\\\\section{Professional Experience}\n${experienceBody}\n\\\\section{Education}\n${educationBody}\n\\\\section{Skills}\n${skillsBody}\n\\\\section{Projects}\n${projectsBody}\n\\\\end{document}`;\n\nreturn [{ json: { ...data, latex } }];"
      },
      "id": "4f04c4c4-f50e-401b-ac13-59f550a62578",
      "name": "Assemble Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2768,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Assemble Document').first().json;\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 600,\n  temperature: 0.1,\n  messages: [\n    { role: \"system\", content: `Score resume vs JD. Return ONLY valid JSON:\n{\"score\":<0-100>,\"verdict\":\"<one sentence>\",\"strengths\":[\"...\"],\"gaps\":[\"...\"],\"recommendation\":\"<one sentence>\"}` },\n    { role: \"user\", content: `JD: ${data.jd}\nSUMMARY: ${data.sections?.summary || ''}\nEXPERIENCE: ${data.sections?.experience || ''}\nSKILLS: ${data.sections?.skills || ''}` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "6ec1a8e5-eca2-4f7d-89f1-0755cdae78e2",
      "name": "Score vs JD [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2544,
        -336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "2ad753ea-921f-409a-822c-0eeea7b1dbcb",
      "name": "Score vs JD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        -336
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Deterministic ATS scorer — bilingual, tech-term first.\nconst data = $('Assemble Document').first().json;\nconst jdRaw = data.jd || '';\nconst sections = data.sections || {};\n\n// German + English stopwords (lowercase, folded).\nconst STOP = new Set([\n  'the','a','an','and','or','of','to','in','on','for','with','is','are','be','as','by','at','from','this','that','will','we','you','our','your','their','it','its','he','she','they','i','me','my','have','has','had','was','were','been','but','not','can','do','does','did','who','what','which','where','when','how','any','all','more','than','some','each','also','such','so','if','may','must','should','would','could','into','over','per','via','about','between','among','during','both','either','neither','other','own','same','new','us','them','etc',\n  // German\n  'der','die','das','den','dem','des','ein','eine','einer','eines','einem','einen','und','oder','aber','denn','weil','dass','dass','ob','als','wie','wo','wann','warum','wenn','mit','ohne','fur','uber','unter','gegen','bei','nach','von','vor','zu','zum','zur','im','ins','am','an','auf','aus','ist','sind','war','waren','wird','wurde','werden','sein','seine','seiner','seinen','seinem','seines','ihr','ihre','ihrer','ihren','ihrem','ihres','nicht','nur','auch','noch','schon','sehr','mehr','weniger','gut','gute','guten','jede','jeder','jedes','alle','alles','einige','kein','keine','keinen','keiner','keinem','keines','man','wir','sie','er','es','ich','du','mich','dich','uns','euch','sich','mein','dein','unser','euer','diese','dieser','dieses','diesen','diesem','welche','welcher','welches','welchen','welchem','hat','haben','hatte','hatten','kann','konnen','konnte','konnten','soll','sollen','sollte','sollten','will','wollen','wollte','wollten','muss','mussen','musste','mussten','im','nstlichen','nstliche'\n]);\n\n// Fold umlauts, strip diacritics — makes German & English comparable.\nfunction fold(s) {\n  if (!s) return '';\n  return s\n    .replace(/ä/g,'a').replace(/Ä/g,'A')\n    .replace(/ö/g,'o').replace(/Ö/g,'O')\n    .replace(/ü/g,'u').replace(/Ü/g,'U')\n    .replace(/ß/g,'ss')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g,'');\n}\n\nfunction tokens(text) {\n  return fold(text || '').toLowerCase()\n    .replace(/[^a-z0-9+\\-.#/ ]/g,' ')\n    .split(/\\s+/)\n    .filter(w => w.length > 1 && !STOP.has(w));\n}\n\nconst jdFolded = fold(jdRaw).toLowerCase();\nconst jdToks = tokens(jdRaw);\n\n// Known tech lexicon — single terms that count as keywords when present.\nconst TECH_LEX = [\n  'python','java','javascript','typescript','c++','c#','matlab','fortran','r','go','rust','scala','ruby','php','swift','kotlin',\n  'pytorch','tensorflow','keras','numpy','pandas','scikit-learn','sklearn','scipy','jax','hugging-face','transformers','langchain',\n  'react','angular','vue','node','nodejs','express','django','flask','fastapi','spring','laravel','rails',\n  'sql','mysql','postgres','postgresql','mongodb','redis','cassandra','elasticsearch','kafka','rabbitmq',\n  'docker','kubernetes','k8s','terraform','ansible','jenkins','gitlab','github','git','ci/cd',\n  'aws','azure','gcp','cloud','linux','unix','bash','shell','windows',\n  'machine-learning','deep-learning','neural','nlp','cv','vision','llm','gpt','bert','cnn','rnn','lstm','transformer','rag',\n  'ai','ml','ki','dl','data','analytics','statistics','mathematics','physics','engineering','algorithm','optimization','optimisation',\n  'fem','cae','cfd','finite-elemente','finite-element','simulation','simulationsdaten','cad','ansys','abaqus','catia','solidworks','nastran','lsdyna','openfoam','comsol',\n  'automotive','embedded','iot','rest','api','graphql','microservice','microservices','distributed','parallel','gpu','cuda',\n  'scrum','agile','kanban','jira','confluence',\n  'mlops','devops','mle','sre'\n];\nconst TECH_SET = new Set(TECH_LEX.map(fold));\n\n// Collect keywords from JD: tech-lex hits first, then hyphenated/compound, then salient phrases.\nconst jdWords = new Set(jdToks);\nconst keywords = [];\nconst pushed = new Set();\n\nfunction push(term, priority) {\n  const k = term.trim();\n  if (!k || pushed.has(k)) return;\n  pushed.add(k);\n  keywords.push({ term: k, priority });\n}\n\n// 1) Tech lexicon hits.\nfor (const t of TECH_LEX) {\n  const folded = fold(t);\n  if (jdFolded.includes(folded)) push(folded, 'HIGH');\n}\n\n// 2) Hyphenated compounds in JD (typical tech terms).\nconst hyphRe = /[a-z0-9]+(?:-[a-z0-9]+){1,3}/g;\nlet m;\nwhile ((m = hyphRe.exec(jdFolded)) !== null) {\n  if (m[0].length >= 5 && !STOP.has(m[0])) push(m[0], 'MEDIUM');\n}\n\n// 3) Capitalized acronyms (3-5 uppercase letters) from raw JD.\nconst acroRe = /\\b[A-Z]{2,6}\\b/g;\nwhile ((m = acroRe.exec(jdRaw)) !== null) {\n  const a = fold(m[0]).toLowerCase();\n  if (a.length >= 2 && !STOP.has(a)) push(a, 'MEDIUM');\n}\n\n// 4) Frequent meaningful single words (length >= 5, not stop, freq >= 2).\nconst freq = new Map();\nfor (const t of jdToks) {\n  if (t.length >= 5 && !STOP.has(t)) freq.set(t, (freq.get(t) || 0) + 1);\n}\nfor (const [t, c] of freq.entries()) {\n  if (c >= 2) push(t, 'LOW');\n}\n\n// Cap to top 25, sorted HIGH > MEDIUM > LOW.\nconst PRI = { HIGH: 3, MEDIUM: 2, LOW: 1 };\nkeywords.sort((a, b) => PRI[b.priority] - PRI[a.priority]);\nconst keywordSet = keywords.slice(0, 25);\n\n// Build resume corpus (folded).\nconst resumeAll = fold([sections.summary, sections.experience, sections.skills, sections.projects].filter(Boolean).join(' ')).toLowerCase();\n\nconst matched = [];\nconst missing = [];\nfor (const kw of keywordSet) {\n  // Treat hyphen and space as interchangeable.\n  const needles = [kw.term, kw.term.replace(/-/g,' '), kw.term.replace(/-/g,'')];\n  const present = needles.some(n => n && resumeAll.includes(n));\n  if (present) matched.push(kw.term);\n  else missing.push({\n    keyword: kw.term,\n    importance: kw.priority,\n    suggested_insertion: kw.priority === 'HIGH' ? 'Skills and Experience' : 'Skills section'\n  });\n}\n\nconst keyword_match_percent = keywordSet.length > 0\n  ? Math.round((matched.length / keywordSet.length) * 100)\n  : 0;\n\nfunction sectionScore(name, text) {\n  if (!text) return { score: 0, feedback: 'Section empty.' };\n  const lc = fold(text).toLowerCase();\n  const hits = keywordSet.filter(k => {\n    const needles = [k.term, k.term.replace(/-/g,' '), k.term.replace(/-/g,'')];\n    return needles.some(n => n && lc.includes(n));\n  }).length;\n  const score = keywordSet.length ? Math.round((hits / keywordSet.length) * 100) : 50;\n  const wc = text.split(/\\s+/).length;\n  let fb = `${hits}/${keywordSet.length} JD keywords present; ${wc} words.`;\n  if (score < 30) fb += ' Weak — add more JD-aligned terms.';\n  else if (score < 60) fb += ' Moderate coverage.';\n  else fb += ' Strong coverage.';\n  return { score, feedback: fb };\n}\n\nconst section_breakdown = {\n  summary:    sectionScore('summary',    sections.summary),\n  experience: sectionScore('experience', sections.experience),\n  skills:     sectionScore('skills',     sections.skills),\n  projects:   sectionScore('projects',   sections.projects)\n};\n\nconst latex = data.latex || '';\nconst formatting_flags = [];\nif (/\\\\begin\\{table\\}/.test(latex))    formatting_flags.push({ issue: 'Contains tables (ATS parsers may misread)', severity: 'MEDIUM', fix: 'Convert tables to plain text lists.' });\nif (/\\\\begin\\{tabular\\}/.test(latex))  formatting_flags.push({ issue: 'Contains tabular environments', severity: 'MEDIUM', fix: 'Use itemize for structured content.' });\nif (/\\\\includegraphics/.test(latex))     formatting_flags.push({ issue: 'Embedded images/graphics', severity: 'HIGH', fix: 'Remove graphics — ATS cannot parse them.' });\nif (!/\\\\section\\{Education\\}/.test(latex)) formatting_flags.push({ issue: 'No Education section detected', severity: 'HIGH', fix: 'Add an Education section.' });\n\nconst weak_sections = Object.entries(section_breakdown).filter(([,v]) => v.score < 50).map(([k]) => k);\n\nconst ats_score = Math.round(\n  0.6 * keyword_match_percent +\n  0.3 * (Object.values(section_breakdown).reduce((a,v)=>a+v.score,0) / 4) +\n  0.1 * (formatting_flags.length === 0 ? 100 : Math.max(0, 100 - formatting_flags.length*20))\n);\n\nconst pass_verdict = ats_score >= 75 ? 'PASS' : ats_score >= 50 ? 'WARN' : 'FAIL';\nconst overall_recommendation = ats_score >= 75\n  ? 'Resume passes ATS keyword threshold.'\n  : `Improve weak sections (${weak_sections.join(', ') || 'none'}) and add high-priority missing keywords: ${missing.filter(k=>k.importance==='HIGH').slice(0,8).map(k=>k.keyword).join(', ') || 'none listed'}.`;\n\nconst atsJson = {\n  ats_score,\n  pass_verdict,\n  keyword_match_percent,\n  matched_keywords: matched,\n  missing_keywords: missing,\n  section_breakdown,\n  formatting_flags,\n  weak_sections,\n  overall_recommendation\n};\n\nreturn [{\n  json: {\n    ...data,\n    choices: [{ message: { content: JSON.stringify(atsJson) } }],\n    atsJson\n  }\n}];"
      },
      "id": "66b7d9b7-19e3-4b49-86bc-5648e3a53017",
      "name": "Gemini: ATS Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        224
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/compile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._latexBody }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "360941fd-67a0-453d-94ca-b0b46080d75b",
      "name": "Render PDF (primary)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2320,
        0
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "e19b1f46-034b-4184-acf6-d0d1422aa731"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6051d048-20a5-4318-83b9-c2a8ef9ed5ef",
      "name": "Primary PDF OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2096,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/compile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._latexBody }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "2570d8ec-44fa-4be1-a79c-7300384da76c",
      "name": "Render PDF (fallback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1648,
        80
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "id": "c9c2b1cd-8f67-4c24-b55b-1e7417033217"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f0a34268-7611-4e6c-b149-3da08c68bc7d",
      "name": "Fallback PDF OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1424,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Merge All Confirmed Data').first().json;\nconst assembled = $('Assemble Document').first().json;\n\n// Get Score response directly from node\nlet score = {};\ntry {\n  const scoreRaw = $('Score vs JD').first().json;\n  let r = scoreRaw.choices?.[0]?.message?.content || '{}';\n  r = r.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n  score = JSON.parse(r);\n} catch(e) { score = { score: 'N/A', verdict: 'Scoring failed', strengths: [], gaps: [], recommendation: '' }; }\n\n// Get ATS response directly from node\nlet ats = {};\ntry {\n  const atsRaw = $('Gemini: ATS Analysis').first().json;\n  let r = atsRaw.choices?.[0]?.message?.content || atsRaw.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n  r = r.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/\\s*```$/i,'').trim();\n  ats = JSON.parse(r);\n} catch(e) { ats = { ats_score: 0, pass_verdict: 'ERROR', keyword_match_percent: 0, matched_keywords: [], missing_keywords: [], section_breakdown: {}, formatting_flags: [], weak_sections: [], overall_recommendation: 'ATS parsing failed.' }; }\n\nlet visionAudit = {};\nlet visionIssuesHtml = '';\ntry {\n  const vd = $('Vision Parse: Resume').first().json;\n  visionAudit = vd.visionAudit || {};\n  visionIssuesHtml = vd.visionIssuesHtml || '';\n} catch(e) { /* vision unavailable */ }\n\nconst atsScore = typeof ats.ats_score === 'number' ? ats.ats_score : 0;\nconst threshold = base.atsThreshold || 75;\nconst needsReopt = atsScore < threshold;\n\nconst missingRows = (ats.missing_keywords||[]).map(k =>\n  '<tr><td style=\"padding:3px 8px\">'+k.keyword+'</td><td style=\"padding:3px 8px;color:'+(k.importance==='HIGH'?'#c0392b':k.importance==='MEDIUM'?'#e67e22':'#27ae60')+'\">'+(k.importance||'')+'</td><td style=\"padding:3px 8px\">'+(k.suggested_insertion||'')+'</td></tr>'\n).join('');\n\nconst flagRows = (ats.formatting_flags||[]).map(f =>\n  '<li><strong>['+(f.severity||'')+']</strong> '+(f.issue||'')+' — <em>'+(f.fix||'')+'</em></li>'\n).join('');\n\nconst sectionAts = Object.entries(ats.section_breakdown||{}).map(([s,d]) =>\n  '<li><strong>'+s+'</strong>: '+(d.score||0)+'/100 — '+(d.feedback||'')+'</li>'\n).join('');\n\nconst vc = ats.pass_verdict==='PASS'?'#27ae60':ats.pass_verdict==='FAIL'?'#c0392b':'#e67e22';\n\nconst reoptBanner = needsReopt\n  ? \"<div style='background:#fff3cd;border:1px solid #ffc107;padding:10px;border-radius:6px;margin:8px 0'><strong>⚠️ ATS score below threshold (\"+atsScore+\"/100 < \"+threshold+\"/100)</strong> — optimized version will be sent separately.</div>\"\n  : \"<div style='background:#d4edda;border:1px solid #28a745;padding:10px;border-radius:6px;margin:8px 0'><strong>✅ ATS score above threshold (\"+atsScore+\"/100)</strong></div>\";\n\nconst scoreHTML = (assembled.auditHTML||'') +\n  \"<h2>Match Score: \"+score.score+\"/100</h2>\" +\n  \"<p>\"+(score.verdict||'')+\"</p>\" +\n  \"<h3>Strengths</h3><ul>\"+(score.strengths||[]).map(s=>'<li>'+s+'</li>').join('')+\"</ul>\" +\n  \"<h3>Gaps</h3><ul>\"+(score.gaps||[]).map(g=>'<li>'+g+'</li>').join('')+\"</ul>\" +\n  \"<p><strong>Recommendation:</strong> \"+(score.recommendation||'')+\"</p>\" +\n  \"<hr/>\" +\n  \"<h2>ATS Analysis</h2>\" + reoptBanner +\n  \"<table style='border-collapse:collapse'>\" +\n  \"<tr><td style='padding:4px 12px 4px 0'><strong>ATS Score</strong></td><td><strong>\"+atsScore+\"/100</strong></td></tr>\" +\n  \"<tr><td style='padding:4px 12px 4px 0'><strong>Verdict</strong></td><td><span style='color:\"+vc+\";font-weight:bold'>\"+ats.pass_verdict+\"</span></td></tr>\" +\n  \"<tr><td style='padding:4px 12px 4px 0'><strong>Keyword match</strong></td><td>\"+(ats.keyword_match_percent||0)+\"%</td></tr>\" +\n  \"</table>\" +\n  \"<h3>Matched keywords</h3><p>\"+((ats.matched_keywords||[]).join(', ')||'None')+\"</p>\" +\n  \"<h3>Missing keywords</h3>\" +\n  (missingRows ? \"<table style='border-collapse:collapse;width:100%'><thead><tr><th style='text-align:left;padding:3px 8px;border-bottom:1px solid #ddd'>Keyword</th><th style='text-align:left;padding:3px 8px;border-bottom:1px solid #ddd'>Priority</th><th style='text-align:left;padding:3px 8px;border-bottom:1px solid #ddd'>Where to add</th></tr></thead><tbody>\"+missingRows+\"</tbody></table>\" : \"<p>None</p>\") +\n  \"<h3>Section ATS breakdown</h3><ul>\"+sectionAts+\"</ul>\" +\n  \"<h3>Formatting flags</h3><ul>\"+(flagRows||'<li>None</li>')+\"</ul>\" +\n  \"<p><strong>Recommendation:</strong> \"+(ats.overall_recommendation||'')+\"</p>\" +\n  (visionIssuesHtml ? \"<hr/>\" + visionIssuesHtml : '') +\n  \"<hr/><p style='color:#999;font-size:10px'>Ensemble: qwen2.5:3b (4 variants) | Judge: qwen2.5:3b | ATS: deterministic keyword scorer</p>\";\n\nlet pdfBase64 = '';\n// Search all merged items for pdfBase64\nfor (const item of $input.all()) {\n  const v = item.json && item.json.pdfBase64;\n  if (v && v.length > 100) { pdfBase64 = v; break; }\n}\n// Fallback: try first item directly\nif (!pdfBase64 || pdfBase64.length < 100) {\n  const v = $input.first().json.pdfBase64;\n  if (v && v.length > 100) pdfBase64 = v;\n}\n\nreturn [{ json: { ...assembled, score, ats, atsScore, needsReopt, scoreHTML, visionAudit, visionIssuesHtml, runId: assembled.runId || base.runId, pdfBase64 } }];"
      },
      "id": "7d689ea7-317e-4d42-86c6-37c565042273",
      "name": "Merge Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "function toBase64(str) {\n  const t = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';\n  const bytes = [];\n  for (let i = 0; i < str.length; i++) {\n    const c = str.charCodeAt(i);\n    if (c < 0x80) { bytes.push(c); }\n    else if (c < 0x800) { bytes.push(0xC0|(c>>6), 0x80|(c&63)); }\n    else { bytes.push(0xE0|(c>>12), 0x80|((c>>6)&63), 0x80|(c&63)); }\n  }\n  let r = '';\n  for (let i = 0; i < bytes.length; i += 3) {\n    const b0=bytes[i], b1=bytes[i+1]||0, b2=bytes[i+2]||0;\n    r += t[b0>>2] + t[((b0&3)<<4)|(b1>>4)];\n    r += i+1<bytes.length ? t[((b1&15)<<2)|(b2>>6)] : '=';\n    r += i+2<bytes.length ? t[b2&63] : '=';\n  }\n  return r;\n}\n\n// Pull data + binaries directly from referenced nodes — avoids merge-chain binary loss.\nconst base = $('Merge All Confirmed Data').first().json;\nconst merged = $('Merge Final Output').first().json || {};\n\nlet pdfBinary = null;\ntry {\n  const parsed = $('Parse PDF Output').first();\n  if (parsed && parsed.binary && parsed.binary.resumePdf) pdfBinary = parsed.binary.resumePdf;\n} catch(e) { /* no PDF rendered */ }\n\nlet coverBinary = null;\ntry {\n  const cl = $('Parse Cover Letter PDF').first();\n  if (cl && cl.binary && cl.binary.coverLetterPdf) coverBinary = cl.binary.coverLetterPdf;\n} catch(e) { /* no cover letter PDF */ }\n\nconst fileName = (base.company || 'Resume').replace(/\\s+/g,'_') + '_' + (merged.runId || base.runId || 'run');\nconst visionHtml = merged.visionIssuesHtml || '';\nconst texSource = merged.latex || '';\n\nconst binaryOut = {};\nif (pdfBinary) binaryOut.resumePdf = { ...pdfBinary, fileName: fileName + '.pdf' };\nif (coverBinary) binaryOut.coverLetterPdf = { ...coverBinary, fileName: fileName + '_cover.pdf' };\nif (texSource) binaryOut.resumeTex = { data: toBase64(texSource), mimeType: 'application/x-tex', fileName: fileName + '.tex' };\n\nreturn [{\n  json: {\n    ...merged,\n    fileName,\n    texFileName: fileName + '.tex',\n    coverLetterFileName: fileName + '_cover.pdf',\n    visionHtml,\n    hasResumePdf: !!pdfBinary,\n    hasCoverLetter: !!coverBinary\n  },\n  binary: binaryOut\n}];"
      },
      "id": "b80d2f73-bd93-4009-b758-0cd54bbb47a1",
      "name": "Prepare Both Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -288
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Merge All Confirmed Data').first().json.email || $('Initialise + Store File').first().json.formEmail }}",
        "toEmail": "={{ $('Merge All Confirmed Data').first().json.email || $('Initialise + Store File').first().json.formEmail }}",
        "subject": "==Resume Ready: {{ $('Merge All Confirmed Data').first().json.jobTitle }} @ {{ $('Merge All Confirmed Data').first().json.company }} [Match: {{ $json.score.score }}/100 | ATS: {{ $json.atsScore }}/100 {{ $json.ats.pass_verdict }}]\n",
        "html": "={{ $json.scoreHTML || $('Merge Final Output').first().json.scoreHTML || '<p>Resume tailoring complete. Please check attached PDF.</p>' }}",
        "options": {
          "appendAttribution": false,
          "attachments": "={{ ($json.hasResumePdf ? 'resumePdf,' : '') + 'resumeTex' + ($json.hasCoverLetter ? ',coverLetterPdf' : '') }}",
          "allowUnauthorizedCerts": false
        }
      },
      "id": "f7e97bea-b17a-4502-a2c7-b014edb47d90",
      "name": "Email: PDF + TEX + Score + ATS",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -528,
        -384
      ],
      "webhookId": "b10f0566-63ee-4a73-84c0-04289efbf8ea",
      "credentials": {
        "smtp": {
          "id": "oxLyP4vqkNAJFmXe",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Merge All Confirmed Data').first().json.email || $('Initialise + Store File').first().json.formEmail }}",
        "toEmail": "={{ $('Merge All Confirmed Data').first().json.email || $('Initialise + Store File').first().json.formEmail }}",
        "subject": "==PDF Render Failed — LaTeX Fallback [{{ $('Merge All Confirmed Data').first().json.jobTitle }}]",
        "html": "=<h2>PDF Render Failed</h2><p>The PDF could not be rendered. Your LaTeX source file is attached — you can compile it locally or upload to Overleaf.</p>",
        "options": {
          "attachments": "resumeTex"
        }
      },
      "id": "1ea08240-5296-43c2-8712-53d1bf43c273",
      "name": "Email: LaTeX Fallback",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -976,
        144
      ],
      "webhookId": "d3bf5f9c-0736-4c65-9d0b-2db68d182b3f",
      "credentials": {
        "smtp": {
          "id": "oxLyP4vqkNAJFmXe",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst jd = data.jd || '';\nconst src = data.resumeLatexSource || '';\nfunction extract(name) { const re = new RegExp('\\\\\\\\section\\\\*?\\\\{\\\\s*' + name + '\\\\s*\\\\}([\\\\s\\\\S]*?)(?=\\\\\\\\section\\\\*?\\\\{|\\\\\\\\end\\\\{document\\\\})', 'i'); const m = src.match(re); return m ? m[1].trim() : ''; }\nconst summarySrc = extract('Summary') || '';\nconst body = {\n  model: 'qwen2.5:3b',\n  max_tokens: 350, temperature: 0.55,\n  stream: false,\n  messages: [\n    { role: 'system', content: `Rewrite the resume Summary as plain text (3-4 sentences, 55-85 words) optimized for ATS keyword matching. HARD RULES:\\n1. Use ONLY facts present in SOURCE (degrees, employers, years of experience, tools in SOURCE).\\n2. Weave 4-6 high-value keywords from JD into the prose naturally (technology names, domain terms, responsibilities).\\n3. Lead with role-aligned positioning: years of experience + target role domain.\\n4. Active voice. Third person. No first-person pronouns.\\n5. Banned words: passionate, results-driven, team player, synergy, dynamic, go-getter, leverage, cutting-edge.\\n6. Output plain text only (no LaTeX, no quotes, no labels, no markdown).` },\n    { role: 'user', content: `SOURCE Summary:\\n${summarySrc}\\n\\nRESUME (full context):\\n${src}\\n\\nJD:\\n${jd}\\n\\nTarget role: ${data.jobTitle} at ${data.company}` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "587fbe20-c3c3-40ce-b069-2810281a491d",
      "name": "Summary: gemini-2.0-flash [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9936,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst jd = data.jd || '';\nconst src = data.resumeLatexSource || '';\n\nfunction extract(name) {\n  const re = new RegExp('\\\\\\\\section\\\\*?\\\\{\\\\s*' + name + '\\\\s*\\\\}([\\\\s\\\\S]*?)(?=\\\\\\\\section\\\\*?\\\\{|\\\\\\\\end\\\\{document\\\\})', 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\n\nconst sourceSection = extract('(?:Professional\\\\s+)?Experience');\n\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 1400,\n  temperature: 0.5,\n  stream: false,\n  messages: [\n    { role: \"system\", content: `You rewrite a resume's Professional Experience section to align with a target JD.\\n\\nSTRICT RULES:\\n1. Keep every role's header line EXACTLY as in SOURCE — \\\\textbf{Title}, \\\\textit{Company}, date ranges, locations. Never change, add, or remove roles/employers/dates.\\n2. For each bullet: keep the underlying FACT from SOURCE (same tool, same action, same scope). Rewrite wording to emphasize JD keywords where truthful.\\n3. Do NOT add new bullets, new tools, new metrics, new achievements.\\n4. Target JD is the position being applied TO — it is NOT past experience.\\n5. Output raw LaTeX only: \\\\textbf, \\\\textit, \\\\begin{itemize}, \\\\item, \\\\hfill. No \\\\documentclass, no prose, no explanation, no markdown fences.\\n6. Preserve the exact structure of SOURCE (role header → itemize → items).` },\n    { role: \"user\", content: `SOURCE (Experience: gemini-2.0-flash [Builder] section of the resume, copy its structure):\\n${sourceSection || '(section absent in source — return empty)'}\\n\\n=== END SOURCE ===\\n\\nJD (keywords to align with — NOT a description of past work):\\n${jd}\\n\\nTarget role: ${data.jobTitle} at ${data.company}` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "f1cad2bf-3c7b-435d-aa6a-4a18c11b667c",
      "name": "Experience: gemini-2.0-flash [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9040,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst jd = data.jd || '';\nconst src = data.resumeLatexSource || '';\n\nfunction extract(name) {\n  const re = new RegExp('\\\\\\\\section\\\\*?\\\\{\\\\s*' + name + '\\\\s*\\\\}([\\\\s\\\\S]*?)(?=\\\\\\\\section\\\\*?\\\\{|\\\\\\\\end\\\\{document\\\\})', 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\n\nconst sourceSection = extract('Skills');\n\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 600,\n  temperature: 0.5,\n  stream: false,\n  messages: [\n    { role: \"system\", content: `You rewrite a resume's Skills section to align with a target JD.\\n\\nSTRICT RULES:\\n1. Output ONLY skills already present in SOURCE.\\n2. Reorder so JD-relevant skills appear first. Group logically (Languages, Frameworks, Tools, Domain).\\n3. Do not add skills not in SOURCE. Do not remove skills from SOURCE.\\n4. Output raw LaTeX only: \\\\begin{itemize}, \\\\item, \\\\textbf. No \\\\documentclass, no prose, no fences.\\n5. Preserve category labels from SOURCE where present.` },\n    { role: \"user\", content: `SOURCE (Skills: gemini-2.0-flash [Builder] section of the resume, copy its structure):\\n${sourceSection || '(section absent in source — return empty)'}\\n\\n=== END SOURCE ===\\n\\nJD (keywords to align with — NOT a description of past work):\\n${jd}\\n\\nTarget role: ${data.jobTitle} at ${data.company}` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "e3fae6d6-351d-4f32-9ff2-618caf360ebb",
      "name": "Skills: gemini-2.0-flash [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8144,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst jd = data.jd || '';\nconst src = data.resumeLatexSource || '';\n\nfunction extract(name) {\n  const re = new RegExp('\\\\\\\\section\\\\*?\\\\{\\\\s*' + name + '\\\\s*\\\\}([\\\\s\\\\S]*?)(?=\\\\\\\\section\\\\*?\\\\{|\\\\\\\\end\\\\{document\\\\})', 'i');\n  const m = src.match(re);\n  return m ? m[1].trim() : '';\n}\n\nconst sourceSection = extract('Projects');\n\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 900,\n  temperature: 0.5,\n  stream: false,\n  messages: [\n    { role: \"system\", content: `You rewrite a resume's Projects section to align with a target JD.\\n\\nSTRICT RULES:\\n1. Keep every project title EXACTLY as in SOURCE (\\\\textbf{Name}, dataset names, tech stack mentions).\\n2. Keep the same projects — no additions, no removals, no renames.\\n3. Rewrite only the descriptive text to surface JD-aligned keywords where truthful. Do not invent tools, metrics, or outcomes.\\n4. Output raw LaTeX only: \\\\begin{itemize}, \\\\item, \\\\textbf, \\\\textit. No \\\\documentclass, no prose, no fences.\\n5. Preserve the original structure.` },\n    { role: \"user\", content: `SOURCE (Projects: gemini-2.0-flash [Builder] section of the resume, copy its structure):\\n${sourceSection || '(section absent in source — return empty)'}\\n\\n=== END SOURCE ===\\n\\nJD (keywords to align with — NOT a description of past work):\\n${jd}\\n\\nTarget role: ${data.jobTitle} at ${data.company}` }\n  ]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "4f540166-8d60-4314-ada2-83ec5ba0d8ed",
      "name": "Projects: gemini-2.0-flash [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7248,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst prompt = `You are a resume accuracy auditor. Compare SYNTHESISED sections against ORIGINAL RESUME and identify hallucinated content.\n\nReturn ONLY valid JSON (no markdown):\n{\"experience_violations\":[{\"synthesised_bullet\":\"\",\"violation_type\":\"added_tool\",\"explanation\":\"\",\"original_bullet\":\"\"}],\"project_violations\":[{\"synthesised_bullet\":\"\",\"violation_type\":\"added_tool\",\"explanation\":\"\",\"original_text\":\"\"}],\"summary_violations\":[],\"total_violations\":0,\"verdict\":\"CLEAN\"}\n\nDO NOT flag: rephrasing, reordering, JD vocabulary for same concept.\nDO flag: tools not in original, metrics not in original, inflated outcomes.\n\nORIGINAL RESUME:\n${data.resumeWithDates}\n\nSYNTHESISED EXPERIENCE:\n${data.sections.experience}\n\nSYNTHESISED PROJECTS:\n${data.sections.projects}\n\nSYNTHESISED SUMMARY:\n${data.sections.summary}`;\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 2000,\n  temperature: 0.0,\n  messages: [{ role: 'user', content: prompt }]\n};\nreturn [{ json: { ...data, _groqBody: JSON.stringify(body) } }];"
      },
      "id": "2da4aaf3-b6b6-4735-a9fc-2507adfe18e7",
      "name": "Gemini: Ground Truth Verification [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5008,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Assemble Document').first().json;\nconst prompt = `ATS expert analysis. Return ONLY valid JSON (no markdown, no code fences):\n{\"ats_score\":0,\"pass_verdict\":\"PASS\",\"keyword_match_percent\":0,\"matched_keywords\":[],\"missing_keywords\":[{\"keyword\":\"\",\"importance\":\"HIGH\",\"suggested_insertion\":\"\"}],\"section_breakdown\":{\"summary\":{\"score\":0,\"feedback\":\"\"},\"experience\":{\"score\":0,\"feedback\":\"\"},\"skills\":{\"score\":0,\"feedback\":\"\"},\"projects\":{\"score\":0,\"feedback\":\"\"}},\"formatting_flags\":[{\"issue\":\"\",\"severity\":\"HIGH\",\"fix\":\"\"}],\"weak_sections\":[],\"overall_recommendation\":\"\"}\n\nJD: ${data.jd}\nSUMMARY: ${(data.sections?.summary||'').substring(0,500)}\nEXPERIENCE: ${(data.sections?.experience||'').substring(0,800)}\nSKILLS: ${(data.sections?.skills||'').substring(0,500)}\nPROJECTS: ${(data.sections?.projects||'').substring(0,500)}`;\n\nconst body = {\n  model: \"qwen2.5:3b\",\n  max_tokens: 1500,\n  temperature: 0.1,\n  stream: false,\n  messages: [\n    { role: \"system\", content: \"You are an ATS expert. Return only valid JSON, no markdown, no explanation.\" },\n    { role: \"user\", content: prompt }\n  ]\n};\nreturn [{ json: { ...data, _ollamaBody: JSON.stringify(body) } }];"
      },
      "id": "dcc1f2e7-83dc-4a0f-adf9-441c96b56294",
      "name": "Gemini: ATS Analysis [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2544,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "7cf2d3fe-8dea-4354-8013-521e4d0d85c6",
      "name": "Projects: gemini-2.0-flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7024,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst latex = data.latex || '';\nif (!latex || latex.trim().length < 20) throw new Error('latex field is empty.');\nconst body = { latex };\nreturn [{ json: { ...data, _latexBody: JSON.stringify(body) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2544,
        0
      ],
      "id": "f235e9c1-5e8e-4810-a1e3-ed04ce99ae7b",
      "name": "Render PDF: Prepare Command"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst latex = $('Assemble Document').first().json.latex || data.latex || '';\nif (!latex || latex.trim().length < 20) throw new Error('latex field is empty for fallback.');\nconst body = { latex };\nreturn [{ json: { ...data, _latexBody: JSON.stringify(body) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        80
      ],
      "id": "58a96171-e3b2-4626-929a-8cd8017568a4",
      "name": "Render PDF Fallback: Prepare Command"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "ad2fa854-909b-419b-ab81-fd53a90099e4",
      "name": "Wait For All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1872,
        -336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer ollama"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._groqBody }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "cc215296-d692-419e-9273-197e3792df22",
      "name": "groq: Ground Truth Verification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4560,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KiaQQV4PKVBqLXZK",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst body = {\n  model: \"qwen2.5:3b\",\n  stream: false,\n  messages: [\n    {\n      role: \"system\",\n      content: `Extract ALL information from this LaTeX resume. Return ONLY valid JSON, no markdown fences:\n{\n  \"personal\": {\"full_name\":null,\"email\":null,\"phone\":null,\"location\":null,\"linkedin\":null,\"github\":null},\n  \"current_role\": {\"company\":null,\"title\":null,\"start_date\":null,\"end_date\":null,\"is_current\":true},\n  \"confidence\": {\"full_name\":\"HIGH\",\"email\":\"HIGH\",\"phone\":\"HIGH\",\"location\":\"HIGH\",\"linkedin\":\"HIGH\",\"github\":\"HIGH\",\"current_role\":\"HIGH\"},\n  \"missing_fields\": [],\n  \"full_resume_text\": \"<complete plain text of entire resume, all sections and bullets>\"\n}`\n    },\n    {\n      role: \"user\",\n      content: `LATEX RESUME SOURCE:\\n${data.resumeLatexSource}`\n    }\n  ]\n};\nreturn [{ json: { ...data, _ollamaBody: JSON.stringify(body) } }];"
      },
      "id": "3e7d701a-6540-43be-b6bf-94811b4390d1",
      "name": "Extract Resume Data [Builder]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11280,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst data = $('Render PDF: Prepare Command').first().json;\n\nif (!resp.success) {\n  throw new Error('LaTeX compile failed: ' + (resp.error || 'unknown error'));\n}\n\nconst pdfBase64 = resp.pdfBase64 || '';\nif (!pdfBase64 || pdfBase64.length < 100) {\n  throw new Error('Sidecar returned empty PDF. Log: ' + (resp.log || '').substring(0, 500));\n}\n\nreturn [{\n  json: { ...data, mimeType: 'application/pdf', latexLog: resp.log || '', pageImages: resp.pageImages || [], pdfBase64 },\n  binary: {\n    resumePdf: {\n      data: pdfBase64,\n      mimeType: 'application/pdf',\n      fileName: (data.runId || 'resume') + '.pdf'\n    }\n  }\n}];"
      },
      "id": "dfa1c84c-5a2e-4aa1-87ee-6a9cda9bc2d0",
      "name": "Parse PDF Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        -96
      ]
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "68ad3d1d-953f-4f7d-9c5f-02b207ff3f5d",
      "name": "Wait before Ground Truth",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -4784,
        0
      ],
      "webhookId": "4170e2b6-d857-4a5c-bcbc-b0ea5577a5d5"
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "e4f95f04-77ea-4a2a-af54-4572afbec7a9",
      "name": "Wait before Judge",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -5680,
        0
      ],
      "webhookId": "bded299e-4aab-428b-a229-33c3c9d24c70"
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "caae567b-49c2-4bf6-be1a-2a3493440508",
      "name": "Wait before Cover Letter",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -6576,
        0
      ],
      "webhookId": "8cbb6a87-99e1-4330-9d16-718a5a4f25ea"
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "cbebd01c-cfbc-4afe-be7a-d05b033df6c3",
      "name": "Wait before Score",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -2320,
        -336
      ],
      "webhookId": "e4bb011a-05e4-482a-8937-fc862f87ab54"
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "ab834fd3-58f7-49c7-800a-81f5edafcd0f",
      "name": "Wait before Repair",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -3440,
        80
      ],
      "webhookId": "4519533d-462f-4214-b505-d2c9376656db"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "c646fdff-07ef-454d-85cb-4e1bd555b6bb",
      "name": "Wait before ATS Analysis",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -2320,
        224
      ],
      "webhookId": "0e6a3fe1-2998-41c6-8796-4523ddb32a53"
    },
    {
      "parameters": {
        "jsCode": "function toBase64(str) {\n  const t = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/';\n  const bytes = [];\n  for (let i = 0; i < str.length; i++) {\n    const c = str.charCodeAt(i);\n    if (c < 0x80) { bytes.push(c); }\n    else if (c < 0x800) { bytes.push(0xC0|(c>>6), 0x80|(c&63)); }\n    else { bytes.push(0xE0|(c>>12), 0x80|((c>>6)&63), 0x80|(c&63)); }\n  }\n  let r = '';\n  for (let i = 0; i < bytes.length; i += 3) {\n    const b0=bytes[i], b1=bytes[i+1]||0, b2=bytes[i+2]||0;\n    r += t[b0>>2] + t[((b0&3)<<4)|(b1>>4)];\n    r += i+1<bytes.length ? t[((b1&15)<<2)|(b2>>6)] : '=';\n    r += i+2<bytes.length ? t[b2&63] : '=';\n  }\n  return r;\n}\nconst data = $('Render PDF: Prepare Command').first().json;\nconst latex = data.latex || '';\nconst fileName = (data.runId || 'resume') + '_fallback';\n\nreturn [{\n  json: { ...data },\n  binary: {\n    resumeTex: { data: toBase64(latex), mimeType: 'application/x-tex', fileName: fileName + '.tex' }\n  }\n}];"
      },
      "id": "b97048bd-bcea-4ede-acb2-f951edb4f13d",
      "name": "Prepare LaTeX Fallback TEX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst inBinary = $input.first().binary || {};\nconst pageImages = input.pageImages || [];\n\nlet visionAudit = {};\nlet visionIssuesHtml = '';\n\nfunction extractJson(raw) {\n  if (!raw) return null;\n  // Remove any markdown fence and surrounding prose.\n  let t = raw.replace(/```json/gi,'').replace(/```/g,'').trim();\n  // Find first balanced {...}.\n  const start = t.indexOf('{');\n  if (start < 0) return null;\n  let depth = 0;\n  for (let i = start; i < t.length; i++) {\n    if (t[i] === '{') depth++;\n    else if (t[i] === '}') {\n      depth--;\n      if (depth === 0) {\n        const slice = t.slice(start, i+1);\n        try { return JSON.parse(slice); } catch(e) { return null; }\n      }\n    }\n  }\n  return null;\n}\n\nif (pageImages.length > 0) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://host.docker.internal:11434/v1/chat/completions',\n      headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer ollama'\n      },\n      body: JSON.stringify({\n        model: 'llava',\n        stream: false,\n        messages: [{\n          role: 'user',\n          content: [\n            {\n              type: 'text',\n              text: 'Review this resume PDF page for visual issues. Return ONLY valid JSON (no markdown, no prose) matching this schema: {\"issues\": [{\"severity\": \"HIGH|MEDIUM|LOW\", \"issue\": \"...\", \"fix\": \"...\"}], \"overall\": \"PASS|WARN|FAIL\"}'\n            },\n            ...pageImages.map(img => ({ type: 'image_url', image_url: { url: `data:image/png;base64,${img}` } }))\n          ]\n        }]\n      })\n    });\n\n    const raw = response.choices?.[0]?.message?.content || '';\n    const parsed = extractJson(raw);\n    if (parsed) {\n      visionAudit = parsed;\n      const issues = visionAudit.issues || [];\n      visionIssuesHtml = issues.length > 0\n        ? '<ul>' + issues.map(i => `<li><strong>[${i.severity || ''}]</strong> ${i.issue || ''} — <em>${i.fix || ''}</em></li>`).join('') + '</ul>'\n        : '<p>No visual issues detected.</p>';\n    } else {\n      visionAudit = { overall: 'WARN', error: 'could not parse vision model JSON', rawPreview: raw.substring(0, 200) };\n      visionIssuesHtml = `<p><em>Vision audit: model returned non-JSON output; skipped.</em></p>`;\n    }\n  } catch(e) {\n    visionAudit = { error: e.message, overall: 'SKIPPED' };\n    visionIssuesHtml = `<p><em>Vision audit skipped: ${e.message}</em></p>`;\n  }\n}\n\nreturn [{ json: { ...input, visionAudit, visionIssuesHtml }, binary: inBinary }];"
      },
      "id": "3e77a9dd-cca9-4d8d-b00f-108839ea972e",
      "name": "Vision Parse: Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        -48
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "f64a8342-19bd-43f5-9e3e-90511edbf550",
      "name": "Combine PDF and Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1168,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst base = $('Merge All Confirmed Data').first().json;\n\nlet letterText = '';\ntry {\n  letterText = resp.choices?.[0]?.message?.content || resp.candidates?.[0]?.content?.parts?.[0]?.text || '';\n} catch(e) { letterText = ''; }\nletterText = letterText.replace(/^```[a-z]*\\s*/i,'').replace(/\\s*```$/i,'').trim();\nletterText = letterText.replace(/^(dear\\s+[^\\n]+|to whom it may concern[^\\n]*|hi\\s+[^\\n]+|hello[^\\n]*)[\\n,]+/i, '');\nletterText = letterText.replace(/\\n*(sincerely|best regards|kind regards|best,|regards,|yours truly|yours sincerely)[\\s\\S]*$/i, '').trim();\n\nconst companyName = base.company || '';\nconst jobTitle = base.jobTitle || '';\nconst hasPlaceholder = /\\[[^\\]]{2,40}\\]/.test(letterText);\nconst mentionsCompany = companyName && letterText.toLowerCase().includes(companyName.toLowerCase());\nconst genericBan = /(HubSpot|Mailchimp|SEO \\(search engine|Google Analytics|Previous Company|30% increase|marketing automation platform|lead generation)/i;\nconst tooShort = !letterText || letterText.split(/\\s+/).length < 140;\nconst looksHallucinated = hasPlaceholder || genericBan.test(letterText) || (!mentionsCompany && companyName) || tooShort;\n\nfunction pickBullets(src, n) {\n  if (!src) return [];\n  const items = [];\n  const re = /\\\\item\\s+([^\\n\\\\]+(?:\\\\[^a-z\\n][^\\n]*)*)/g;\n  let m;\n  while ((m = re.exec(src)) !== null && items.length < n) {\n    let txt = m[1].trim()\n      .replace(/\\\\textbf\\{([^}]*)\\}/g,'$1')\n      .replace(/\\\\textit\\{([^}]*)\\}/g,'$1')\n      .replace(/\\\\href\\{[^}]*\\}\\{([^}]*)\\}/g,'$1')\n      .replace(/\\\\[a-z]+(\\{[^}]*\\})?/g,'')\n      .replace(/\\s+/g,' ').trim();\n    if (txt.length > 20) items.push(txt.replace(/\\.+\\s*$/, ''));\n  }\n  return items;\n}\n\nfunction pickSkills(src, jd) {\n  if (!src) return [];\n  const skills = [];\n  const re = /\\\\item\\s+([^\\n]+)/g;\n  let m;\n  while ((m = re.exec(src)) !== null) {\n    const line = m[1].replace(/\\\\[a-z]+(\\{[^}]*\\})?/g,'').replace(/[{}]/g,'').trim();\n    line.split(/[,;]/).forEach(s => { const t = s.trim(); if (t.length > 1 && t.length < 40) skills.push(t); });\n  }\n  const jdLc = (jd || '').toLowerCase();\n  const scored = skills.map(s => ({ s, hit: jdLc.includes(s.toLowerCase().split(' ')[0]) ? 1 : 0 }));\n  scored.sort((a,b) => b.hit - a.hit);\n  return [...new Set(scored.map(x => x.s))].slice(0, 6);\n}\n\nfunction pickJdKeywords(jd) {\n  if (!jd) return [];\n  const STOP = new Set(['This','That','The','Your','You','Our','Their','These','Those','With','Have','Will','Would','Should','Could','Were','When','What','Where','Which','About','Into','Over','Under','From','Team','Role','Work','Job','Position','Skills','Requirements','Responsibilities','Research','Development','Company','Office','Candidate','Candidates','Benefits','Experience','Qualifications','Preferred','Required','Duties','German','English','French','Spanish','Good','Great','Strong','Deep']);\n  const caps = [...new Set((jd.match(/\\b[A-Z][A-Za-z]{2,}\\b/g) || []))].filter(w => !STOP.has(w));\n  const scored = caps.map(w => {\n    let score = 0;\n    if (/^[A-Z]{2,}$/.test(w)) score += 3;\n    if (/[A-Z].*[a-z].*[A-Z]/.test(w)) score += 2;\n    if (/Python|Java|SQL|Docker|Kubernetes|Linux|AWS|Azure|GCP|AI|ML|LLM|NLP|API|REST|React|Vue|Angular|PyTorch|TensorFlow|CAE|FEM|CAD|CFD|CAN|LIN|ECU|Ethernet|CI|CD/i.test(w)) score += 5;\n    if (w.length > 4) score += 1;\n    return { w, score };\n  });\n  scored.sort((a,b) => b.score - a.score);\n  return scored.map(x => x.w).slice(0, 6);\n}\n\nfunction buildTemplate() {\n  const src = base.resumeLatexSource || '';\n  const expSrc = (src.match(/\\\\section\\*?\\{\\s*(?:Professional\\s+)?Experience\\s*\\}([\\s\\S]*?)(?=\\\\section|\\\\end\\{document\\})/i) || ['',''])[1];\n  const projSrc = (src.match(/\\\\section\\*?\\{\\s*Projects\\s*\\}([\\s\\S]*?)(?=\\\\section|\\\\end\\{document\\})/i) || ['',''])[1];\n  const skillsSrc = (src.match(/\\\\section\\*?\\{\\s*Skills\\s*\\}([\\s\\S]*?)(?=\\\\section|\\\\end\\{document\\})/i) || ['',''])[1];\n\n  const expBullets = pickBullets(expSrc, 3);\n  const projBullets = pickBullets(projSrc, 2);\n  const skills = pickSkills(skillsSrc, base.jd || '');\n  const jdKws = pickJdKeywords(base.jd || '');\n  const currentRole = base.currentTitle || 'my current role';\n  const currentCompany = base.currentCompany || '';\n  const atCompany = currentCompany ? ` at ${currentCompany}` : '';\n\n  const domainHint = jdKws.slice(0, 2).join(' and ') || 'the domain you work in';\n\n  const p1 = `The ${jobTitle} role at ${companyName} caught my attention because it sits exactly at the intersection of ${domainHint} and the kind of engineering work I want to do next. Reading the JD, I see a team building ${jdKws[0] ? jdKws[0].toLowerCase() : 'ambitious'} systems where careful engineering matters — that maps directly to what I have been doing, and to where I want to grow.`;\n\n  const p2Core = expBullets[0] ? expBullets[0].replace(/^[A-Z]/, c => c.toLowerCase()) : 'built production tooling and debugged complex systems end to end';\n  const p2Extra = expBullets[1] ? ` Alongside that work, I ${expBullets[1].replace(/^[A-Z]/, c => c.toLowerCase())}.` : '';\n  const p2 = `In ${currentRole}${atCompany}, I ${p2Core}.${p2Extra} That experience taught me how to move from ambiguous requirements to working systems, which is the pattern I see described across the ${jobTitle} responsibilities.`;\n\n  const skillsLine = skills.slice(0, 4).join(', ');\n  const p3Core = skillsLine ? `On the tooling side I work comfortably with ${skillsLine}, which overlaps directly with the stack described in the JD.` : 'My technical foundation overlaps directly with the stack described in the JD.';\n  const projLine = projBullets[0] ? ` A recent project: ${projBullets[0]}.${projBullets[1] ? ' Earlier, ' + projBullets[1].replace(/^[A-Z]/, c => c.toLowerCase()) + '.' : ''}` : '';\n  const growthTarget = jdKws.filter(k => !/This|That|The/.test(k))[0] || (jobTitle || 'this area');\n  const p3 = `${p3Core}${projLine} I want to go deeper on ${growthTarget} in applied settings, and ${companyName} is exactly the environment where that growth happens under experienced mentors.`;\n\n  const p4 = `I am available to start on your timeline and would welcome a short conversation about where I can contribute first. The ${jobTitle} role is the role I want to grow into, and I would bring full commitment to the work ${companyName} is doing.`;\n\n  return [p1, p2, p3, p4].join('\\n\\n');\n}\n\nlet finalLetter = letterText;\nlet usedTemplate = false;\nif (looksHallucinated) {\n  finalLetter = buildTemplate();\n  usedTemplate = true;\n} else {\n  finalLetter = finalLetter\n    .replace(/\\[Company Name\\]/gi, companyName)\n    .replace(/\\[Previous Company\\]/gi, base.currentCompany || 'my previous company')\n    .replace(/\\[Your Name\\]/gi, base.fullName || base.safeName || '')\n    .replace(/\\[Position\\]|\\[Role\\]|\\[Job Title\\]/gi, jobTitle);\n}\n\nfunction escLatex(s) {\n  if (!s) return '';\n  return s\n    .replace(/\\\\/g,'\\\\textbackslash{}')\n    .replace(/([&%$#_{}])/g,'\\\\$1')\n    .replace(/~/g,'\\\\textasciitilde{}')\n    .replace(/\\^/g,'\\\\textasciicircum{}')\n    .replace(/\\u2014/g,'---').replace(/\\u2013/g,'--')\n    .replace(/[\\u2018\\u2019]/g,\"'\").replace(/[\\u201C\\u201D]/g,'\"');\n}\n\nconst today = new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\nconst bodyEsc = escLatex(finalLetter).replace(/\\n\\n+/g, '\\n\\n\\\\par\\\\vspace{6pt}\\n\\n');\nconst safeName = base.safeName || base.fullName || 'Candidate';\nconst companyEsc = escLatex(companyName || '');\nconst jobEsc = escLatex(jobTitle || '');\n\nconst latex = `\\\\documentclass[11pt,a4paper]{article}\n\\\\usepackage[T1]{fontenc}\n\\\\usepackage[utf8]{inputenc}\n\\\\usepackage{lmodern}\n\\\\usepackage[margin=2.2cm]{geometry}\n\\\\usepackage{hyperref}\n\\\\usepackage{xcolor}\n\\\\usepackage{parskip}\n\\\\definecolor{accentblue}{HTML}{2B5EAB}\n\\\\hypersetup{colorlinks=true,urlcolor=accentblue,linkcolor=accentblue}\n\\\\setlength{\\\\parindent}{0pt}\n\\\\begin{document}\n\\\\pagestyle{empty}\n\\\\begin{flushleft}\n{\\\\LARGE\\\\bfseries ${safeName}}\\\\\\\\[2pt]\n{\\\\small ${base.headerContact}}\n\\\\end{flushleft}\n\\\\vspace{12pt}\n${escLatex(today)}\\\\\\\\[6pt]\nHiring Team\\\\\\\\\n${companyEsc}\\\\\\\\[12pt]\n\\\\textbf{Re: Application for ${jobEsc}}\\\\\\\\[10pt]\n${bodyEsc}\n\\\\vspace{12pt}\nSincerely,\\\\\\\\\n${safeName}\n\\\\end{document}`;\n\nreturn [{ json: { ...base, coverLetterText: finalLetter, coverLetterUsedTemplate: usedTemplate, coverLetterLatex: latex, _latexBody: JSON.stringify({ latex }) } }];"
      },
      "id": "0be76d97-e450-49db-a641-90ebbb47011e",
      "name": "Assemble Cover Letter LaTeX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5904,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/compile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json._latexBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 120000
        }
      },
      "id": "2bbd3982-1d49-4726-8329-3f97cdc909a3",
      "name": "Render Cover Letter PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5680,
        208
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json || {};\nconst data = $('Assemble Cover Letter LaTeX').first().json;\nconst base = $('Merge All Confirmed Data').first().json;\n\n// Accept any payload; fall through gracefully when render failed.\nconst ok = resp && resp.success === true && typeof resp.pdfBase64 === 'string' && resp.pdfBase64.length > 100;\n\nif (!ok) {\n  const err = (resp && (resp.error || resp.message)) || 'render failed or returned no PDF';\n  return [{ json: { ...data, coverLetterRenderError: err, coverLetterPdfBase64: '' } }];\n}\n\nconst fileName = (base.company || 'Cover_Letter').replace(/\\s+/g,'_') + '_' + (base.runId || 'run') + '_cover';\n\nreturn [{\n  json: { ...data, coverLetterPdfBase64: resp.pdfBase64, coverLetterFileName: fileName + '.pdf' },\n  binary: {\n    coverLetterPdf: {\n      data: resp.pdfBase64,\n      mimeType: 'application/pdf',\n      fileName: fileName + '.pdf'\n    }\n  }\n}];"
      },
      "id": "3ffc90c5-e218-4d95-ac1c-ae7f02b65863",
      "name": "Parse Cover Letter PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5456,
        208
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "6cda5f25-4772-4845-8cf4-fa37c50a5a10",
      "name": "Combine Cover Letter",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -960,
        -288
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Step 1: Upload Resume & Job Details": {
      "main": [
        [
          {
            "node": "Initialise + Store File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialise + Store File": {
      "main": [
        [
          {
            "node": "Prepare File for Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File for Extraction": {
      "main": [
        [
          {
            "node": "Extract Resume Data [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Extracted Data": {
      "main": [
        [
          {
            "node": "Merge All Confirmed Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Confirmed Data": {
      "main": [
        [
          {
            "node": "Summary: llama-70b [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary: llama-70b": {
      "main": [
        [
          {
            "node": "Summary: gemini-2.0-flash [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary: gemini-2.0-flash": {
      "main": [
        [
          {
            "node": "Experience: llama-70b [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Experience: llama-70b": {
      "main": [
        [
          {
            "node": "Experience: gemini-2.0-flash [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Experience: gemini-2.0-flash": {
      "main": [
        [
          {
            "node": "Skills: llama-70b [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skills: llama-70b": {
      "main": [
        [
          {
            "node": "Skills: gemini-2.0-flash [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skills: gemini-2.0-flash": {
      "main": [
        [
          {
            "node": "Projects: llama-70b [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Projects: llama-70b": {
      "main": [
        [
          {
            "node": "Projects: gemini-2.0-flash [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cover Letter: gemini (humanized)": {
      "main": [
        [
          {
            "node": "Collect All Candidates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assemble Cover Letter LaTeX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Candidates": {
      "main": [
        [
          {
            "node": "Judge: Synthesise Best Sections [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Judge: Synthesise Best Sections": {
      "main": [
        [
          {
            "node": "Parse Judge Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Judge Output": {
      "main": [
        [
          {
            "node": "Gemini: Ground Truth Verification [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Ground Truth Corrections": {
      "main": [
        [
          {
            "node": "Validate All Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate All Sections": {
      "main": [
        [
          {
            "node": "All Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Valid?": {
      "main": [
        [
          {
            "node": "Assemble Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Repair Failed Sections [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair Failed Sections": {
      "main": [
        [
          {
            "node": "Merge Repairs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Repairs": {
      "main": [
        [
          {
            "node": "Assemble Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Document": {
      "main": [
        [
          {
            "node": "Score vs JD [Builder]",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini: ATS Analysis [Builder]",
            "type": "main",
            "index": 0
          },
          {
            "node": "Render PDF: Prepare Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score vs JD": {
      "main": [
        [
          {
            "node": "Wait For All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render PDF (primary)": {
      "main": [
        [
          {
            "node": "Primary PDF OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary PDF OK?": {
      "main": [
        [
          {
            "node": "Parse PDF Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Render PDF Fallback: Prepare Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render PDF (fallback)": {
      "main": [
        [
          {
            "node": "Fallback PDF OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback PDF OK?": {
      "main": [
        [
          {
            "node": "Parse PDF Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare LaTeX Fallback TEX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Output": {
      "main": [
        [
          {
            "node": "Combine PDF and Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Both Attachments": {
      "main": [
        [
          {
            "node": "Email: PDF + TEX + Score + ATS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama: Extract Resume Data": {
      "main": [
        [
          {
            "node": "Parse Extracted Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary: llama-70b [Builder]": {
      "main": [
        [
          {
            "node": "Summary: llama-70b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Experience: llama-70b [Builder]": {
      "main": [
        [
          {
            "node": "Experience: llama-70b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skills: llama-70b [Builder]": {
      "main": [
        [
          {
            "node": "Skills: llama-70b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Projects: llama-70b [Builder]": {
      "main": [
        [
          {
            "node": "Projects: llama-70b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cover Letter: gemini (humanized) [Builder]": {
      "main": [
        [
          {
            "node": "Wait before Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Judge: Synthesise Best Sections [Builder]": {
      "main": [
        [
          {
            "node": "Wait before Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Repair Failed Sections [Builder]": {
      "main": [
        [
          {
            "node": "Wait before Repair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score vs JD [Builder]": {
      "main": [
        [
          {
            "node": "Wait before Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Ground Truth Verification [Builder]": {
      "main": [
        [
          {
            "node": "Wait before Ground Truth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: ATS Analysis [Builder]": {
      "main": [
        [
          {
            "node": "Wait before ATS Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary: gemini-2.0-flash [Builder]": {
      "main": [
        [
          {
            "node": "Summary: gemini-2.0-flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Experience: gemini-2.0-flash [Builder]": {
      "main": [
        [
          {
            "node": "Experience: gemini-2.0-flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skills: gemini-2.0-flash [Builder]": {
      "main": [
        [
          {
            "node": "Skills: gemini-2.0-flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Projects: gemini-2.0-flash [Builder]": {
      "main": [
        [
          {
            "node": "Projects: gemini-2.0-flash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Projects: gemini-2.0-flash": {
      "main": [
        [
          {
            "node": "Cover Letter: gemini (humanized) [Builder]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: ATS Analysis": {
      "main": [
        [
          {
            "node": "Wait For All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Render PDF: Prepare Command": {
      "main": [
        [
          {
            "node": "Render PDF (primary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render PDF Fallback: Prepare Command": {
      "main": [
        [
          {
            "node": "Render PDF (fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For All Results": {
      "main": [
        [
          {
            "node": "Merge Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "groq: Ground Truth Verification": {
      "main": [
        [
          {
            "node": "Apply Ground Truth Corrections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Data [Builder]": {
      "main": [
        [
          {
            "node": "Ollama: Extract Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse PDF Output": {
      "main": [
        [
          {
            "node": "Vision Parse: Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before Ground Truth": {
      "main": [
        [
          {
            "node": "groq: Ground Truth Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before Judge": {
      "main": [
        [
          {
            "node": "Judge: Synthesise Best Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before Cover Letter": {
      "main": [
        [
          {
            "node": "Cover Letter: gemini (humanized)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before Score": {
      "main": [
        [
          {
            "node": "Score vs JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before Repair": {
      "main": [
        [
          {
            "node": "Repair Failed Sections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before ATS Analysis": {
      "main": [
        [
          {
            "node": "Gemini: ATS Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LaTeX Fallback TEX": {
      "main": [
        [
          {
            "node": "Email: LaTeX Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine PDF and Data": {
      "main": [
        [
          {
            "node": "Combine Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vision Parse: Resume": {
      "main": [
        [
          {
            "node": "Combine PDF and Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Assemble Cover Letter LaTeX": {
      "main": [
        [
          {
            "node": "Render Cover Letter PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Cover Letter PDF": {
      "main": [
        [
          {
            "node": "Parse Cover Letter PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cover Letter PDF": {
      "main": [
        [
          {
            "node": "Combine Cover Letter",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Cover Letter": {
      "main": [
        [
          {
            "node": "Prepare Both Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "78844962-cd9f-4015-968e-f3234e3d1ed1",
  "meta": {
    "instanceId": "467bee907b056699c77641a8582d2695eb22f903f00daec7e4c2b5e008c0ac5e"
  },
  "id": "yRxfH5ryINfPQ4HD",
  "tags": []
}